<div class="cover-top jCover-top">
    <div class="cover-top-body mar1200c clearfix">
        <div class="cover-top-f fLe">
            <span class="wel-lp">
                    {$Think.session.member_data.username} 欢迎光临e橙优品工业商城</span>
                    <a class="col1" href="http://www.orangesha.com/logout.html">注销</a>
                    </div>
        <div class="cover-top-list cover-top-f fRi wel-rp">
            <ul>
                <li><a href="http://www.orangesha.com/member.html" class="cCol1-h">个人中心</a></li>
                <li>|</li>
                <li>
                <a href="http://www.orangesha.com/order.html" class="cCol1-h">我的订单 <em class="col1">{$Think.session.order_total.2}</em></a>
                </li>
                <li>|</li>
                <li><a href="http://www.orangesha.com/cart.html" class="cCol1-h">购物车</a></li>
                <li>|</li>  
                <li><a class="cCol1-h" href="http://www.orangesha.com/gzsp.html?title=1">收藏夹</a></li>
                <li>|</li>  
                <li><a href="javascript:open('http://p.qiao.baidu.com/cps/chat?siteId=9913952&userId=22347187')" class="cCol1-h">在线客服</a></li>
                <li>|</li>
                <li><span class="phone-sign">400-966-5770（9:00-18:00）</span></li>
            </ul>
        </div>

    </div>
</div>
