<div class="header-wrap n-bCol1">
    <div class="header mar1200c clearfix" style="background-color: #37A4A2;">
        <a class="logo fLe" href="http://www.orangesha.com/" title="MRO工业品采购,工业品采购,老保用品,标识,清洁办公,车间化学,五金工具,安全帽,安全鞋,办公用品,包装,清洁,物料搬运,胶带,电动工具,气动工具,机床,实验室试剂,阀,供暖, 电池,充电器,泵,照明,电工器材,工控自动化,变压器,伺服电机"></a>
        <span class="header-links underLine fLe"><a href="http://www.orangesha.com/member.html">会员首页</a> | <a href="http://www.orangesha.com/">e橙优品商城</a> </span>
        <!--<div class="header-seach-wrap fRi">
            <input type="text" style="font-family: '微软雅黑';" class="txt02 txt-style-1 vAlignMid" placeholder="请输入您要查找的商品" /><a href="#" class="vAlignMid butt02-a button-a-seach">搜索</a>
        </div>-->
    </div>
</div>