
<div class="user-left box-s-c1 marT20 fLe">
	<div class="user-left-wrap">
		<div class="user-l-items marT30">
		    <h4 class="tl f-16-c1 user-center-sign u-c-sign-1">个人中心</h4>
		    <div class="list">
		        <ul>
		            <li><a class="col1" href="http://www.orangesha.com/qyrz.html">企业认证</a></li>		            
		            <li><a class="col1" href="http://www.orangesha.com/zhaq.html">账号安全</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/zhxx.html">账号信息</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/dzgl.html">地址管理</a></li>
		        </ul>
		    </div>
		</div>
		<div class="user-l-items marT60">
		    <h4 class="tl f-16-c1 user-center-sign u-c-sign-2">订单中心</h4>
		    <div class="list">
		        <ul>
		            <li><a class="col1" href="http://www.orangesha.com/order.html">我的订单 <em class="col1">{$order_total['mall']['0,0,0,1']+$order_total['mall']['1,0,0,1']+$order_total['mall']['1,1,0,1']+$order_total['mall']['1,2,0,1']+$order_total['mall']['1,2,1,2']}</em></a></li>
		            <li><a class="col1" href="http://www.orangesha.com/cart.html" target="_blank">我的购物车 <em class="col1">{$cart_total}</em></a></li>
		        </ul>
		    </div>
		</div>
		<div class="user-l-items marT60">
		    <h4 class="tl f-16-c1 user-center-sign u-c-sign-3">关注中心</h4>
		    <div class="list">
		        <ul>
		            <li><a class="col1" href="http://www.orangesha.com/gzsp.html?title=1">关注的商品</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/gzsp.html?title=2">关注的店铺</a></li>
		        </ul>
		    </div>
		</div>
		<div class="user-l-items marT60">
		    <h4 class="tl f-16-c1 user-center-sign u-c-sign-4">资产中心</h4>
		    <div class="list">
		        <ul>
		            <li><a class="col1" href="http://www.orangesha.com/balance.html">余额</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/myPoints.html">我的积分</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/myCoupon.html">优惠券</a></li>
		            <!--<li><a class="col1" href="">橙橙白条</a></li>-->
		        </ul>
		    </div>
		</div>
		<div class="user-l-items marT60">
		    <h4 class="tl f-16-c1 user-center-sign u-c-sign-5">客户服务</h4>
		    <div class="list">
		        <ul>
		            <li><a class="col1" href="http://www.orangesha.com/regoods.html">返修退换货</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/myInvoice.html">我的发票</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/jyjf.html">交易纠纷</a></li>
		        </ul>
		    </div>
		</div>
		<div class="user-l-items marT60">
		    <h4 class="tl f-16-c1 user-center-sign u-c-sign-6">出租设备</h4>
		    <div class="list">
		        <ul>
		        	<li><a class="col1" href="http://www.orangesha.com/mffb.html" target="_blank">免费发布</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/gxsp.html">共享商品</a></li>
		            <li><a class="col1" href="http://www.orangesha.com/gxdd.html">商品订单</a></li>
		        </ul>
		    </div>
		</div>
		<div class="user-l-items marT60">
		    <h4 class="tl f-16-c1 user-center-sign u-c-sign-7">
		    <a href="http://www.orangesha.com/myshop.html" id="myShop" target="_blank">店家中心</a></h4>	    
		</div>
	</div>
</div>

