<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>工会之窗</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/liner.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/partyEthics/partyEthics.css" />
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
	</head>
	<body>
	<div class="wrp">
					<!--顶部-->
			<include file="Public:header" />
			<!-- 顶部结束 -->
			<div class="mainWrap relative clearfix" style="margin-bottom: 30px;">
				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../partyEthics/policy.html" class="navs-item">政策法规</a></li>
						<li><a href="../partyEthics/dynamic.html">党建动态</a></li>
						<li><a href="../partyEthics/trade.html">工会之窗</a></li>
						<li><a href="../partyEthics/morality.html">师德师风</a></li>
						<li><a href="../partyEthics/1eague.html">团支部</a></li>
					</ul>
				</section>
				<div class="detailContent clearfix">
					<div class="column_R">
						<div class="mainContent">
							<div class="introTit clearfix">
								<div class="introTitImg" style="background-image:url(__PUBLIC__/phone/images/small.jpg)"></div>
								<h2>工会之窗</h2>
							</div>
						</div>
					</div>
					<div class="content-wrap clearfix">
						<div class="container">
							<h3>带着爱，低头前行——虹桥小学“做党和人民满意的好老师”系列活动之演讲比赛</h3>
							<p class="xwtime">
                                                          发表于：2015-10-30 11:08:27　　　浏览次数：
                            </p>
                            <div class="Content_Nr">
                                <p align="center" style="text-align:center;">
									<br>
								</p>
								<p style="text-indent:28.0pt;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">绿草如茵的操场，高高搭起的竹架，激情涌动的人群，这就是虹桥小学如火如荼的工会活动。<span></span></span>
								</p>
								<p style="text-indent:28.0pt;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">为庆祝<span>“</span>五一<span>”</span>国际劳动节，丰富校园文化生活，增强教师间的凝聚力和合作意识，在工会主席刘钢、运动健将熊佳和邓锐的策划下，<span>4</span>月<span>29</span>日下午，全体教师热情参与了“解手链”和“罗马炮架”两个趣味游戏。<span></span></span>
								</p>
								<p style="text-indent:28.0pt;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">解手链互动游戏是<span>8</span>人一组，队员们把手交叉牵在一起，在不松开手的情况下，想办法把这张乱网解开。古罗马炮架是每组<span>10</span>人，团队在一个固定的战场利用资源：竹子九长一短，九根长绳，一把大勺，若干个汽球水弹，架起一尊古罗马炮架来相互攻击别的团队，得分多者为胜。活动中，队员们团结合作，懂得了聆听在沟通中的重要性。<span></span></span>
								</p>
								<p style="text-indent:28.0pt;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">“每天锻炼一小时，健康工作五十年，幸福生活一辈子”已成了每一位虹桥人不懈的追求。<span></span></span>
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;"></span>
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;"><img src="__PUBLIC__/phone/images/partyEthics/20150430165458_4218.jpg" alt=""><br>
								</span>
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">解手链游戏<span></span></span>
								</p>
								<p align="center" style="text-align:center;">
									<img src="__PUBLIC__/phone/images/partyEthics/20150430165617_6250.jpg" alt="">
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">搭建古罗马炮架<span></span></span>
								</p>
								<p align="center" style="text-align:center;">
									<img src="__PUBLIC__/phone/images/partyEthics/20150430165656_0312.jpg" alt="">
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">发射攻击，其乐无穷<span></span></span>
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">（供稿：王春燕<span>&nbsp; </span>供图：叶娟）<span></span></span>
								</p>
					       </div>
							<div class="ull_top">
								<ul class="ull">
	                                <li><strong>上一篇：</strong>没有上一篇了</li>
							        <li><strong>下一篇：</strong><a href="#">虹桥小学党支部《做党和人民满意的好老师》主题实践活动二</a></li>
							    </ul>
						    </div>
						</div>
				    </div>
				</div>		
			</div>
			<!--低部-->
			<include file="Public:footer" />
			<!-- 低部结束 -->
		</div>
		<script type="text/javascript" src="__PUBLIC__/phone/js/common.js" ></script>
	</body>
</html>
