<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<title>长沙高新区虹桥小学</title>
<meta name="keywords" content="" />
<meta name="description" content=""/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/phone/css/jquery.mobile-1.2.0.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/phone/css/master.css" />
    <link rel="stylesheet" href="__PUBLIC__/phone/css/djshide/partyEthics.css" />
<script type="text/javascript" src="__PUBLIC__/phone/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.mobile-1.2.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/phone/js/banner.js"></script>
<script type="text/javascript" src="__PUBLIC__/phone/js/my_js.js"></script>

    <!-- <link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" /> -->
    <!-- <link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" /> -->
    <!-- <link rel="stylesheet" href="__PUBLIC__/phone/css/index/same.css" /> -->
    <script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
    <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.SuperSlide.js"></script>

</head>
<body>
<div data-role="page" data-theme="a">
<!--~~~~~~ header start~~~~~~~ -->
<include file="Public:header" />
<!--~~~~~header end~~~~~~~~~~~~~ -->
<!-- ~~~主体内容开始 ~~~~-->
<div data-role="content" class="content">
          <!-- ~~~师德师风开始~~~~ -->
           <div class="about">
                    <div class="title ui-bar-f ui-grid-a"><span class="ui-block-a">师德师风</span><span class="ui-block-b more_i"><a href="about.asp" data-role="button" data-inline="true"></a></span></div>
                    <div class="content-wrap clearfix">
                                <div class="cont_top">
                                  <ul class="lecturer-list clear">
                                                  <volist name="data['22']" id="v">
                                                  <li>
                                                    <a><img src="__ROOT__{$v['thumb']|substr=1}"></a>
                                                    <div class="lecturer-detail">
                                                            <div class="lecturer">
                                                              <h2>{$v['title']}</h2>
                                                              <h3>讲师格言:</h3>
                                                              <p class="text-mb">{$v['description']}</p>
                                                              <h3>讲师特色:</h3>
                                                              <p class="text-mb">{$v['content']|html_entity_decode|strip_tags=###}</p>
                                                        <!--      <p class="introduce">中国倡导“家文化”第一人；湖南百姓通谱网络科技有限公司董事长</p> -->
                                                            </div>
                                                    </div>
                                                  </li>
                                                  </volist>
      
                                        </ul>
                                </div>
                      </div>               
          </div>         
          <!-- ~~~~~~师德师风结束~~~~~~~ -->

                    <!-- ~~~党建动态开始~~~ -->
          <div class="about">
                    <div class="title ui-bar-f ui-grid-a"><span class="ui-block-a">党建动态</span><span class="ui-block-b more_i"><a href="about.asp" data-role="button" data-inline="true"></a></span></div>
                    <div class="cont_top">
                              <ul class="list2">
                                        <volist name="data['23']" id="v">
                                        <li class="cultureNews">
                                          <a href="{:U('djdongtai_content',array('id'=>$v['id'],'column_id'=>$v['column_id']))}"><em>{$v['updatetime']|date="Y-m-d",###}</em>{$v['title']}</a>
                                        </li>                                    
                                       </volist>
                              </ul>
                      </div>                
          </div>
  <!-- ~~~党建动态结束~~~ -->     

          <!-- ~~~工会之窗开始~~~ -->
          <div class="about">
                    <div class="title ui-bar-f ui-grid-a"><span class="ui-block-a">工会之窗</span><span class="ui-block-b more_i"><a href="about.asp" data-role="button" data-inline="true"></a></span></div>
                    <div class="cont_top">
                              <ul class="list2">
                                      <volist name="data['24']" id="v">
                                        <li class="cultureNews">
                                          <a href="{:U('ghzhichuang_content',array('id'=>$v['id'],'column_id'=>$v['column_id']))}"><em>{$v['updatetime']|date="Y-m-d",###}</em>{$v['title']}</a>
                                        </li>                                    
                                       </volist>
                              </ul>
                      </div>                
          </div>
         <!-- ~~~工会之窗结束~~~ -->  

          <!-- ~~~党建法规开始~~~ -->
          <div class="about">
                    <div class="title ui-bar-f ui-grid-a"><span class="ui-block-a">党建法规</span><span class="ui-block-b more_i"><a href="about.asp" data-role="button" data-inline="true"></a></span></div>
                    <div class="cont_top">
                              <ul class="list2">
                                      <volist name="data['42']" id="v">
                                        <li class="cultureNews">
                                          <a href="{:U('djfagui_content',array('id'=>$v['id'],'column_id'=>$v['column_id']))}"><em>{$v['updatetime']|date="Y-m-d",###}</em>{$v['title']}</a>
                                        </li>                                    
                                       </volist>
                              </ul>
                      </div>                
          </div>
         <!-- ~~~党建法规结束~~~ --> 

          <!-- ~~~团支部开始~~~ -->
          <div class="about">
                    <div class="title ui-bar-f ui-grid-a"><span class="ui-block-a">团支部</span><span class="ui-block-b more_i"><a href="about.asp" data-role="button" data-inline="true"></a></span></div>
                    <div class="cont_top">
                              <ul class="list2">
                                      <volist name="data['43']" id="v">
                                        <li class="cultureNews">
                                          <a href="{:U('tzbu_content',array('id'=>$v['id'],'column_id'=>$v['column_id']))}"><em>{$v['updatetime']|date="Y-m-d",###}</em>{$v['title']}</a>
                                        </li>                                    
                                       </volist>
                              </ul>
                      </div>                
          </div>
         <!-- ~~~团支部结束~~~ -->               
       
</div>          
<!--~~~~~~~主体内容结束~~~~~-->

<!-- ~~~尾部开始~~~~ -->
              <include file="Public:footer" />
<!--~~~~~~ 尾部结束~~~~~ -->
</div>
</body></html>