<!-- 公共底部 -->
<div class="footer">
    <div class="footer-nav">
        <volist name='help' id='v' key='k'>
        <ul class="footer-nav{$k}" style="background:url('__ROOT__{$v['thumb']|substr=1}'')">
            <li class="title">{$v['name']}</li>
            <volist name="v['child']" id='v1'>
            <li><a href="http://www.orangesha.com/Home/Problem/index.html?id={$v1['id']}">{$v1['name']}</a></li>
            </volist>
        </ul>
        </volist>
    </div>
    <div class="footer-bottom">
        <div class="support">客服热线 400-966-5770 周一至周日 9:00-18:00</div>
        <p class="text">所有图片均受著作权保护，未经许可任何单位与个人不得使用、复制、转载、摘编，违者必究法律责任。<br>© 2010-2016 网站地图</p>
        <div class="ewm"></div>
    </div>

</div>