<div class="side-nav">
    <h3><a href="{:U('Member_center/member')}" style="color:#ffffff">个人中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('Seller_order/sellerIndex',array('seller_id'=>$domain))}" style="color:#ffffff">我的商城</a></h3>
    <ul class="border-bottom clearfix">
        <li class="title">交易管理</li>
        <li><a href="{:U('Seller_order/orderList')}">成交商品</a></li>
        <li><a href="{:U('Seller_order/assess_manage')}">评价管理</a></li>
    </ul>
    <ul class="border-bottom clearfix">
        <li class="title">物流管理</li>
        <li><a href="{:U('Seller_order/delivery')}">发货管理</a></li>
        <li><a href="{:U('Seller_order/logisticsTool')}">物流工具</a></li>
        <li>物流服务</li>
    </ul>
    <ul class="border-bottom clearfix">
        <li class="title">商品管理</li>
        <li><a href="{:U('Seller_goods/selectCategory')}">发布商品</a></li>
        <li><a href="{:U('Seller_goods/goodsList')}">商品中心</a></li>		
    </ul>
    <ul class="border-bottom clearfix">
        <li class="title">店铺管理</li>
        <!--<li><a href="{:U('ShopEdit/shopSetting')}">店铺设置</a></li>-->
        <li><a href="{:U('Seller_goods/show')}">分类管理</a></li>
        <li><a href="{:U('Seller_goods/navManage')}">导航管理</a></li>
        <li><a href="{:U('ShopEdit/service')}">公司简介</a></li>
        <li><a href="{:U('ShopEdit/bannerSetting')}" target="_blank">banner设置</a></li> 
        <li><a href="{:U('Member_center/coupon')}">优惠券设置</a></li>
    </ul>
    <ul class="clearfix">
        <li class="title"> 客户服务</li>
        <li><a href="{:U('Member_center/safeguard')}">消费者保障</a></li>
        <li><a href="{:U('Member_center/refund')}">退款管理</a></li>
        <li><a href="{:U('Member_center/afterSale')}">售后管理</a></li>
        <li><a href="{:U('Member_center/foul')}">违规记录</a></li>
    </ul>
</div>