<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>店铺模版装修</title>
<meta name="description" content="">
<meta name="keywords" content="万德龙数控机床专营店">
<link href="__PUBLIC__/Home/css/cssReset.css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/shop-decorate.css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/decorate.css" rel="stylesheet">
<script src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/Home/js/header.js"></script>
</head>
<body>
    <div class="shop">
        <div class="header">
            <div class="header-inner">
                <img src="__PUBLIC__/Home/images/shop-logo_04.png" class="logo">
                <div class="shop-title">
                    <h1>万德龙数控机床专营店</h1>
                    <p>精密源于集成</p>
                </div>
            </div>
            <a href="#" class="myshop"></a>
            <a href="#" class="seller"></a>
            <a href="#" class="editor-btn" id="shop-signs-modal" data-num='1'>编辑</a>
        </div>
        <div class="nav">
            <ul>
                <li class="title"><a href="javascript:;">所有商品</a></li>
                <li><a href="javascript:;">首页</a></li>
                <!--<li>车床</li>
                <li>磨床</li>
                <li>刨床</li>
                <li>铣床</li>
                <li>钻床</li>
                <li>线切割机床</li>-->
            </ul>
            <a href="#" class="editor-btn" id="nav-modal" data-num='2'>编辑</a>
        </div>
        <div class="banner">
            <img src="__PUBLIC__/Home/images/shop_banner.jpg" alt="" id="banner-bg-img">
            <a href="#" class="editor-btn" id="banner-modal" data-num='3'>编辑</a>
        </div>
        <div class="shop-list">
            <h2><span>FAST SELLING PRODUCTS /</span>  畅销商品</h2>
            <ul>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="shop-list">
            <h2><span>NEW PRODUCTS /</span>  新品推荐</h2>
            <ul>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
                <li>
                    <img src="__PUBLIC__/Home/images/shop_list_img.jpg" alt="">
                    <p>西格玛 数控机床 立式加工中心 L-1060较高的结构刚性与稳定性</p>
                    <div class="money">
                        <span class="price">￥78万</span>
                        <span class="sales">销量1205</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="program">
        <ul>
            <li>
                <div class="program-list">
                    <div class="program-icon icon1"></div>
                    <div class="text">
                        <div class="text-top">全球精品</div>
                        <div class="text-bottom">一站式全产业链平台</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="program-list">
                    <div class="program-icon icon2"></div>
                    <div class="text">
                        <div class="text-top">天天底价</div>
                        <div class="text-bottom">优品秒拍优惠购不停</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="program-list">
                    <div class="program-icon icon3"></div>
                    <div class="text">
                        <div class="text-top">融资租赁</div>
                        <div class="text-bottom">特有的招标配套服务</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="program-list">
                    <div class="program-icon icon4"></div>
                    <div class="text">
                        <div class="text-top">共享未来</div>
                        <div class="text-bottom">智能装备的分享社区</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
        <div class="footer-nav">
            <ul class="footer-nav1">
                <li class="title">新手指南</li>
                <li>账户注册</li>
                <li>购物流程</li>
                <li>订购方式</li>
                <li>会员等级</li>
            </ul>
            <ul class="footer-nav2">
                <li class="title">支付方式</li>
                <li>在线支付</li>
                <li>分期付款</li>
                <li>公司转账</li>
                <li>发票管理</li>
            </ul>
            <ul class="footer-nav3">
                <li class="title">配送方式</li>
                <li>配送运费</li>
                <li>配送范围</li>
                <li>配送时间</li>
            </ul>
            <ul class="footer-nav4">
                <li class="title">售后服务</li>
                <li>退换货政策</li>
                <li>退换货流程</li>
                <li>常见问题</li>
                <li>投诉与建议</li>
            </ul>
            <ul class="footer-nav5">
                <li class="title">关于我们</li>
                <li>公司介绍</li>
                <li>联系我们</li>
                <li>业务合作</li>
                <li>诚信举报</li>
                <li>人才招聘</li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="support">客服热线 0755-86573357 周一至周日 9:00-21:00</div>
            <p class="text">所有图片均受著作权保护，未经许可任何单位与个人不得使用、复制、转载、摘编，违者必究法律责任。<br>© 2010-2016 网站地图</p>
            <div class="ewm"></div>
        </div>
    </div>

    <!-- 编辑状态  -->
    <!-- 店铺招牌模态框  -->
    <form class="shop-signs-modal modal box-hide" name="form" id='form_1'>
        <h3 class="modal-header">店铺招牌<a href="javascript:;" class="close-modal"></a></h3>
        <div class="modal-content">
            <div>
                <h4 class="fl">店铺名称&nbsp;:&nbsp;</h4>
                <input type="text" placeholder="请不要超过15个字" name='shop_name' id="shop-name">
            </div>
            <div>
                <h4 class="fl word2">简述&nbsp;:&nbsp;</h4>
                <input type="text" placeholder="请不要超过30个字" name='desc' id="shop-des">
            </div>
            <div>
                <h4 class="fl">店铺图标&nbsp;:&nbsp;</h4>
                <input type="text" class="src-txt">
                <label class="src"><input type="file" id="logo-src" name='thumb'>选择路径</label>
                <p class="shop-signs-prompt">LOGO尺寸&nbsp;:&nbsp;最大宽度：320px，最大高度：145px</p>
                <div class="img"><img class="logo-img"></div>
            </div>
        </div>
        <div class="btns">
            <button class="save btn-active" id="header-save">保存</button>
            <button class="cancel">取消</button>
        </div>
    </form>
    <!-- /店铺招牌模态框  -->    
    <div class="bg-black"></div>
    <!-- 导航模态框 -->
    <form class="nav-modal modal" id='form_2'>
        <h3 class="modal-header">导航设置<a href="javascript:;" class="close-modal"></a></h3>
        <div class="modal-content">
          <p class="prompt-txt">导航区域可放置店铺最重要的信息，最多添加7项内容</p>
          <table cellpadding="0" cellspacing="0" border="1" width="100%" bordercolor="#d2d2d2">
             <tr>
                 <th width="214px">分类</th>
                 <th width="228px">重命名</th>
                 <th width="156px">是否显示</th>
                 <th width="133px">排序</th>
                 <th width="113px">操作</th>
             </tr>
             
              <tr>
                  <td colspan="5" class="gray"><span>*</span>请添加新产品，才会自动显示相关分类</td>
              </tr>
          </table>
            <div class="nav-bgc">
                <h4 class="fl">背景&nbsp;:&nbsp;</h4>
                <input type="color" name='background_color' id="color-input"><span class="bgc-prompt">请获取&nbsp;/&nbsp;输入颜色&nbsp;,例如:&nbsp;#000000&nbsp;或者&nbsp;black</span>
            </div>
        </div>
        <div class="btns">
            <button class="save btn-active" id="nav-save">保存</button>
            <button class="cancel">取消</button>
        </div>
    </form>
    <!-- /导航模态框 -->
    <!-- banner模态框  -->
    <form class="banner-modal modal box-hide" name="form" id='form_3'>
        <h3 class="modal-header">banner设置<a href="javascript:;" class="close-modal"></a></h3>
        <div class="modal-content">
            <p class="prompt-txt">banner尺寸:1920px*764px</p>
            <div class="banner-change">
                <h4 class="fl">图片&nbsp;:&nbsp;</h4>
                <input type="text" class="src-txt">
                <label class="src"><input type="file" id="banner-src" name='thumb'>选择路径</label>
                <div class="img"><img class="banner-img"></div>
            </div>
        </div>
        <div class="btns">
            <button class="save btn-active" id="banner-save">保存</button>
            <button class="cancel">取消</button>
        </div>
    </form>
    <!-- /banner模态框  -->
    <!-- /编辑状态  -->
</body>
<script type="text/javascript">
/**
 *店铺顶部
 */
var header = (function(){
    var is_get = false;
    $("#form_1").find('.btn-active').click(function(){
        if(!$("input[name='shop_name']").val()){
            alert('必须输入店铺名字');
            return false;
        }
        if(!$("input[name='thumb']").val() && logo == ''){
            alert('必须选择logo');
            return false;
        }
        request();
        return false;
    })

    $("input[name='thumb']").on('change','input',function(){
        var file   = $(this)[0].files[0];   
        var reader = new FileReader(); 
        //将文件以Data URL形式读入页面  
        reader.readAsDataURL(file);  
        reader.onload=function(e){ 
            //显示文件      
            $(".store-img").css("background","url("+this.result+")");
        }  
    })

    /*
     * 提交数据
     **/
    function request(){  
        var data = new FormData($("#form_1")[0]);  
        var url  = "{:U('ShopEdit/saveShopData')}";
        $.ajax({  
              url : url ,  
              type: 'POST',  
              data: data,  
              async: true,  
              // 下面三个参数要指定，如果不指定，会报一个JQuery的错误 
    　　　　　cache: false,  
              contentType: false,  
              processData: false,  
              success: function (res) {  
                  alert(res.msg); 
                  window.location.reload();            
              },  
              error: function (returndata) {  
                  console.log(returndata); 
              }  
         });  
    }  

    function getShopData(){
        $.post("{:U('ShopEdit/getShopData')}",{},function(res){
            is_get = true;
            changeHtmltext(res['data']);
        })
    }  

    function changeHtmltext(data){
        $("#form_1 input[name='shop_name']").val(data['shop_name']);
        $("#form_1 input[name='desc']").val(data['desc']);
    }

    return {
        is_get : function(){
            return is_get;
        },
        getShopData : function(){
            getShopData();
        }
    }
})();

/**
 *店铺导航
 */
var nav = (function(){
    var is_get   = false,
    html_1 = [],html_2 = [],html_3 = [];
	html_1.push("<tr>");
	html_1.push("   <td>%CAT_NAME%</td>");
	html_1.push("   <td><input type='text' name='name%CAT_ID%' value='%REPLACE_NAME%' placeholder='点击编辑'></td>");
	html_1.push("   <td><input type='checkbox' name='status%CAT_ID%' value='1' %CHECKED% /></td></td>");
	html_1.push("   <td><input type='number' name='sort%CAT_ID%' value='%SORT%' /></td>");
	html_1.push("   <td></td>");
	html_1.push("</tr>");
	html_1 = html_1.join('');
	html_2.push("<tr>");
	html_2.push("   <td>%CAT_NAME%</td>");
	html_2.push("   <td><input name='name%CAT_ID%' type='text' value='%REPLACE_NAME%'  placeholder='点击编辑'></td>");
	html_2.push("   <td><input type='checkbox'  name='status%CAT_ID%' value='1' %CHECKED% /></td>");
	html_2.push("   <td><input type='number' name='sort%CAT_ID%' value='%SORT%' /></td>");
	html_2.push("   <td><a href='javascript:;'>编辑</a></td>");
	html_2.push("</tr>");
	html_2 = html_2.join('');
	html_3.push("<tr>");
	html_3.push("   <td>%CAT_NAME%</td>");
	html_3.push("   <td><input name='name%CAT_ID%' type='text' value='%REPLACE_NAME%'  placeholder='点击编辑' /></td>");
	html_3.push("   <td><input type='checkbox'  name='status%CAT_ID%' value='1' %CHECKED% /></td>");
	html_3.push("   <td><input type='number' name='sort%CAT_ID%' value='%SORT%' /></td>");
	html_3.push("   <td><a href='javascript:;'>编辑</a></td>");
	html_3.push("</tr>");
	html_3 = html_3.join('');
    

    $("#form_2").find('.btn-active').click(function(){
        request();
        return false;
    })

    /*
     * 提交数据
     **/
    function request(){  
        var data = new FormData($("#form_2")[0]);  
        var url  = "{:U('ShopEdit/shopNavUpdate')}";
        $.ajax({  
              url : url ,  
              type: 'POST',  
              data: data,  
              async: true,  
              // 下面三个参数要指定，如果不指定，会报一个JQuery的错误 
    　　　　　cache: false,  
              contentType: false,  
              processData: false,  
              success: function (res) {  
                  alert(res.msg); 
                 // window.location.reload();            
              },  
              error: function (returndata) {  
                  console.log(returndata); 
              }  
         });  
    }    
/*
    function getCategory(){
        $.post("{:U('getCategory')}",{},function(res){
            is_get = true;
            addHtml(res);
        })
    }
  */  
    function addHtml(data_){
        var html = [];
        var data = data_['data'];
        for(var k in data){   
           if(data[k].id > 0){
               var html_ = html_1.replace(/%CAT_NAME%/,data[k].cat_name).replace(/%REPLACE_NAME%/,data[k].replace_name).replace(/%CAT_ID%/g,data[k].id).replace(/%SORT%/g,data[k].sort).replace(/%CHECKED%/g,data[k].status?'checked':''); 
           }else
           if(data[k].id == -1){
               html_ = html_2.replace(/%CAT_NAME%/,data[k].cat_name).replace(/%REPLACE_NAME%/,data[k].replace_name).replace(/%CAT_ID%/g,data[k].id).replace(/%SORT%/g,data[k].sort).replace(/%CHECKED%/g,data[k].status?'checked':''); ;  
           }else
           if(data[k].id == -2){
               html_ = html_3.replace(/%CAT_NAME%/,data[k].cat_name).replace(/%REPLACE_NAME%/,data[k].replace_name).replace(/%CAT_ID%/g,data[k].id).replace(/%SORT%/g,data[k].sort).replace(/%CHECKED%/g,data[k].status?'checked':''); ;  
           }           
           html.push(html_);
        }
        html = html.join('');
        $(".gray").parent('tr').before(html);
        $("#color-input").val(data_['css']['background_color']);
    }

    $('#add-nav').on('click',function () {
        var html = [];
        html.push("<li>");
        html.push("   <input type='text' class='name' name=name[] />");
        html.push("   <span class='link-to'>链接至</span>");
        html.push("   <input type='text' class='link' name=link[] />");
        html.push("</li>");
        html = html.join('');
        $('.clearfix ul').append(html);
    });

    return {
        is_get : function(){
            return is_get;
        },
        getShopNav : function(){
            getCategory();
        }
    }
})();

/**
 *店铺banner
 */
var banner = (function(){
    var is_get   = false;

    $("#form_3").find('.btn-active').click(function(){
        request();
        return false;
    });

    /*
     * 提交数据
     **/
    function request(){  
        var data = new FormData($("#form_3")[0]);  
        var url  = "{:U('ShopEdit/shopBannerUpdate')}";
        $.ajax({  
              url : url ,  
              type: 'POST',  
              data: data,  
              async: true,  
              // 下面三个参数要指定，如果不指定，会报一个JQuery的错误 
    　　　　　cache: false,  
              contentType: false,  
              processData: false,  
              success: function (res) {  
                  alert(res.msg); 
                  window.location.reload();            
              },  
              error: function (returndata) {  
                  console.log(returndata); 
              }  
         });  
    }  

    function getShopBanner(){
        $.post("{:U('ShopEdit/getShopBanner')}",{},function(res){
            is_get = true;
        })
    }  

    return {
        is_get : function(){
            return is_get;
        },
        getShopBanner : function(){
            getShopBanner();
        }
    }
})();

chose('nav');
chose('banner');
chose('header');
function chose(divClass) {
    $('.'+divClass).hover(function () {
        $(this).append('<div class="chose-bg"></div>');
        $(this).find('.editor-btn').show();
    },function () {
        $(this).find('.chose-bg').remove();
        $(this).find('.editor-btn').hide();
    });
};

$(".cancel").click(function(){
    $("form").css('display','none');
    return false;
})

$(".editor-btn").click(function(){
    $("form").css('display','none');
    var number = $(this).attr('data-num');
    if(number == 1 && ! header.is_get()){
        header.getShopData();
    }else
    if(number == 2 && ! nav.is_get()){
        nav.getShopNav();
    }else
    if(number == 3 && ! banner.is_get()){
        banner.getShopBanner();
    }
    number--;
    $("form").eq(number).css('display','block');
});
nav.getShopNav();
</script>
</html>