<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>新建网页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
</head>
<body>
<div id="body">
</div>
</body>      
<script type="text/javascript" src="__PUBLIC__/js/react/dist/react.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/react-dom/dist/react-dom.min.js"></script>
<script type="text/javascript" src="__ROOT__/App/js/PurchaseSelect/selectAdd/vendor.js"></script>
<script type="text/javascript" src="__ROOT__/App/js/PurchaseSelect/selectAdd/selectAdd.js"></script>         
</body>
</html>
