<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>后台管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="description" content="" />
<style>
*{padding:0; margin:0;font-size:16px;background:white;}
   ul,li{padding:0; margin:0;}
   ul,li{list-style:none;}
   a{text-decoration:none;}
   a:hover{text-decoration:none;border: 0}  
#wraper{width:100%;height:auto;float:left}
</style>
</head>
    <div id="wraper">
		<frameset rows="100px,*" cols="100%" frameborder="no" border="0" framespacing="0">
		     <frame src="/index.php/Public/top" name="top">
			 <frameset cols="220px,10px,*">
			     <frame src="/index.php/Public/left" name="left">
			     <frame src="/index.php/Public/line" name="line" scrolling="no">
			     <frame src="/index.php/Public/right" name="right">
			 </frameset>
		</frameset>
    </div>	
 <script type="text/javascript">
  
 </script>
</html>