<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="keywords" content="工业机器人租赁，智能装备租赁，智能装备分享，工业智能机器人交易，e橙优品">
    <meta name="description" content="e橙优品专注于解决国内智能设备空闲问题，对接供给方和需求方，为万千中小企业解决设备和融资问题。我们是智能装备行业的专业电商平台，需求方、供给方、融资租赁公司三赢的B2B交易平台。">
    <meta name="copyright" content="深圳市橙橙网络科技有限公司(www.orangesha.com)版权所有">
    <meta name="author" content="e橙优品"> 
  <title>e 橙优品智能装备分享平台-专业智能装备分享平台-工业智能装备租赁平台</title>

<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-1.10.2.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/home.css" type="text/css">
<link rel="stylesheet" href="/Public/Orange/script/jquery.kinMaxShow/base.css" type="text/css">
<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}/Home/js/swiper/swiper.min.css">
<link rel="shortcut icon" href="/Public/Home/images/ee.ico" type="image/x-icon">
<script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/swiper/swiper.min.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/tool.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/list.js"></script>   
<link rel="stylesheet" href="{:C('STATIC_URL')}/Orange/css/home.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/list.css" type="text/css">    
    <style>
    #listdiv {height:50px;}
    .menu{display:none;}
    p.text{padding:0 0;}
    </style>    
</head>
<body >
<include file="Public:header_top" />
<include file="Public:header_search" />
<include file="Public:nav" />
<!-- body -->

<div class="list">
    <div class="list-header">
        <span>
        <a href="{:U('Index/index')}">首页</a> > 
        <a>共享商品搜索结果</a>   
        <span class="header-right">共 {$count}件相关商品</span></span>
    </div>
    <div class="recommended fl">
        <div class="info-right">
            <div class="title">近期热租商品</div>
            <volist name='rents' id='v'>
            <div class="li">
                <a href="http://{$Think.server.HTTP_HOST}/fenxiang-{$v['id']}""><img src="__ROOT__{$v['goods_thumb']|substr=1}" alt=""></a>
                <div class="text"> <a href="{:U('Goods/goods',array('goods_id'=>$v['id']))}">{$v['goods_name']}</a></div>
                <div class="price">￥{$v['goods_price']} /月起
                <div class="sales">销量：{$v['sale_num']}</div>
                </div>
            </div>
            </volist>
        </div>
    </div>
    <div class="right-list fl">
        <div class="list-title">
            <div class="list-price clearfix">
                <p class="text fl">价钱:</p>
                <ul class="clearfix fl">
                    <volist name='price' id='v'>
                    <li data-price="{$v[0]}" class='price_li'>{$v[1]}</li>
                    </volist>
                    <li class="into">
                        <input type="text"> - <input type="text"> <span class='price_btn'>确定</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 商品列表 -->
        <ul class="good-list clearfix">
            <volist name="goods" id="v">      
            <li>
                <div class="good-box">
                    <a href="http://{$Think.server.HTTP_HOST}/fenxiang-{$v['id']}"">
                    <img class="good-icon" src="__ROOT__{$v['goods_thumb']|substr=1}" alt="商品">
                    </a>
                    <div class="contain">
                        <div class="row-price">￥<span class="price">{$v['goods_price']}</span>
                        <span class="closing">月成交 {$v['sale_num']} 笔</span></div>
                        <div class="title"><a href="http://{$Think.server.HTTP_HOST}/fenxiang-{$v['id']}"">{$v['goods_name']}</a></div>
                        <div class="shop-name"><span class="rated">评价 <span>20</span></span></div>
                        <div class="shop-icon">
                            <if condition="$v['is_renzheng'] eq '1'">
                                <img src="{:C('STATIC_URL')}/Home/images/renzheng.png" alt="">
                            </if>
                            <if condition="$v['safest'] neq ''">
                                <img src="{:C('STATIC_URL')}/Home/image/safest.png" alt="">
                            </if>
                        </div>
                    </div>
                </div>
            </li>
            </volist>
        </ul>
        <!-- 商品列表结束 -->
        <div class="section-bt">
           {$html}
        </div>
    </div>
</div>
<!-- 底部 -->
<include file="Public:footer" />
<!-- /底部 -->
</body>
<script>
var paramer_arr = {$paramers};
    paramer_arr['p'] = 1;
/*价格地址*/
var price = (function(){  
    $(".price_li").click(function(){
        var price = $(this).attr('data-price');
        paramer_arr['price'] = price;
        window.location.href = getUrl(paramer_arr);
    });

    $(".price_btn").click(function(){
        var price_1 = $(this).prev('input').prev('input').val(),
            price_1 = parseInt(price_1) > 0 ? parseInt(price_1) : 0,
            price_2 = $(this).prev('input').val(),
            price_2 = parseInt(price_2) > 0 ? parseInt(price_2) : 'max',
            price   = price_1 + '-' + price_2;   
        paramer_arr['price'] = price;   
        window.location.href = getUrl(paramer_arr);
    });    
})();

function getUrl(paramer_arr){
    var paramer = '';
    for(var k in paramer_arr){

        paramer+='&'+ k + '=' + paramer_arr[k];
    }
    paramer = paramer.substring(1);
    return "{:U('goodsSearch')}" + '?' + paramer;
}

function GetRequest() {   
   var url = location.search; //获取url中"?"符后的字串   
   var theRequest = new Object();   
   if (url.indexOf("?") != -1) {   
      var str = url.substr(1);   
      strs = str.split("&");   
      for(var i = 0; i < strs.length; i ++) {   
         theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);   
      }   
   }   
   return theRequest;   
} 

$(".go").click(function(){
    var val = $(".go_number").val();
    paramer_arr['p'] = parseInt(val) > 0 ? parseInt(val) : 1;
    window.location.href = getUrl( paramer_arr);
})
</script>
</html>
