<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>每周菜谱</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/liner.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/xwzhongxin/news.css" />
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
	</head>
	<body>
	<div class="wrp">
					<!--顶部-->
			<include file="Public:header" />
			<!-- 顶部结束 -->
			<div class="mainWrap relative clearfix" style="margin-bottom: 30px;">
				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../newsCenter/notice.html" class="navs-item">学校公告</a></li>
						<li><a href="../newsCenter/dynamics.html">校园动态</a></li>
						<li><a href="../newsCenter/ diet.html">每周菜谱</a></li>
					</ul>
				</section>
				<div class="detailContent clearfix">
					<div class="column_R">
						<div class="mainContent">
							<div class="introTit clearfix">
								<div class="introTitImg" style="background-image:url(__PUBLIC__/phone/images/small.jpg)"></div>
								<h2>每周菜谱</h2>
							</div>
						</div>
					</div>
					<div class="content-wrap clearfix">
						<div class="container">
							<p class="xwtit st">均衡膳食 健康成长——11月第一周学生菜谱</p>
							<p class="xwtime">
                                                                 发表于：2015-10-30 11:08:27　　　浏览次数：
                            </p>
                            <div class="xwcon">
								<table width="990" bgcolor="#000000" border="1">
								    <tbody>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff" colspan="2">虹桥小学本校区、西校区学生午餐菜谱（11.02—11.06）</td>
								            <td class="detabiao" bgcolor="#ffffff" colspan="2">虹桥小学东校区学生“外送餐”午餐菜谱（11.02—11.06）</td>
								            <td class="detabiao" bgcolor="#ffffff" colspan="2">虹桥小学北校区学生“外送餐”午餐菜谱（11.02—11.06）</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff" width="84">星期</td>
								            <td class="detabiao" bgcolor="#ffffff" width="144">食谱</td>
								            <td class="detabiao" bgcolor="#ffffff" width="94">星期</td>
								            <td class="detabiao" bgcolor="#ffffff" width="144">食谱</td>
								            <td class="detabiao" bgcolor="#ffffff" width="94">星期</td>
								            <td class="detabiao" bgcolor="#ffffff" width="144">食谱</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期一</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期一</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、花卷</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期一</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、馒头</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">红烧狮子头</td>
								            <td class="detabiao" bgcolor="#ffffff">宫保鸡丁</td>
								            <td class="detabiao" bgcolor="#ffffff">红烧狮子头</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">豆泡白菜粉条</td>
								            <td class="detabiao" bgcolor="#ffffff">肉片菜花</td>
								            <td class="detabiao" bgcolor="#ffffff">肉片芹菜炒腐竹</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff" height="21">茭白三丁</td>
								            <td class="detabiao" bgcolor="#ffffff">醋溜三丝</td>
								            <td class="detabiao" bgcolor="#ffffff">枸杞冬瓜</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">西红柿鸡蛋汤</td>
								            <td class="detabiao" bgcolor="#ffffff">玉米面粥</td>
								            <td class="detabiao" bgcolor="#ffffff">小米粥</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期二</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期二</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、奶香馒头</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期二</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、可可卷</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">酱爆鸡丁</td>
								            <td class="detabiao" bgcolor="#ffffff">红烧狮子头</td>
								            <td class="detabiao" bgcolor="#ffffff">萝卜炖排骨</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">鸡蛋圆白菜</td>
								            <td class="detabiao" bgcolor="#ffffff">醋溜木须</td>
								            <td class="detabiao" bgcolor="#ffffff">肉片茄子</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">雪里红烧豆腐</td>
								            <td class="detabiao" bgcolor="#ffffff">海米芦瓜</td>
								            <td class="detabiao" bgcolor="#ffffff">粉丝圆白菜</td>
								        </tr>
								        <tr>
								            <td bgcolor="#ffffff">紫菜蛋花汤</td>
								            <td bgcolor="#ffffff">西红柿鸡蛋汤</td>
								            <td bgcolor="#ffffff">大米红枣粥</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期三</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期三</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、玉米面馒头</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期三</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、椒盐卷</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">红烧鸡腿</td>
								            <td class="detabiao" bgcolor="#ffffff">卤鸡腿</td>
								            <td class="detabiao" bgcolor="#ffffff">醋溜肉片</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">西红柿鸡蛋</td>
								            <td class="detabiao" bgcolor="#ffffff">肉丝拉皮</td>
								            <td class="detabiao" bgcolor="#ffffff">西红柿鸡蛋</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">香干三丁</td>
								            <td class="detabiao" bgcolor="#ffffff">豆结白菜</td>
								            <td class="detabiao" bgcolor="#ffffff">醋溜土豆丝</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">冬瓜汤</td>
								            <td class="detabiao" bgcolor="#ffffff">八宝粥</td>
								            <td class="detabiao" bgcolor="#ffffff">西红柿汤</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期四</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期四</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、紫米馒头</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期四</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、果酱卷</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">红烧排骨</td>
								            <td class="detabiao" bgcolor="#ffffff">孜然羊肉</td>
								            <td class="detabiao" bgcolor="#ffffff">土豆炖牛肉</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">芹菜腐竹</td>
								            <td class="detabiao" bgcolor="#ffffff">酥炸鱿鱼条</td>
								            <td class="detabiao" bgcolor="#ffffff">京酱肉丝</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">红烧冬瓜</td>
								            <td class="detabiao" bgcolor="#ffffff">粉条菊花茶</td>
								            <td class="detabiao" bgcolor="#ffffff">番茄菜花</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">菠菜鸡蛋汤</td>
								            <td class="detabiao" bgcolor="#ffffff">菠菜鸡蛋汤</td>
								            <td class="detabiao" bgcolor="#ffffff">紫菜蛋花汤</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期五</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期五</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、椒盐卷</td>
								            <td class="detabiao" bgcolor="#ffffff" rowspan="5">星期五</td>
								            <td class="detabiao" bgcolor="#ffffff">米饭、金银卷</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">海带烧鸭</td>
								            <td class="detabiao" bgcolor="#ffffff">猪肉炖粉条</td>
								            <td class="detabiao" bgcolor="#ffffff">红烧鸡腿</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">番茄菜花</td>
								            <td class="detabiao" bgcolor="#ffffff">西红柿烧茄子</td>
								            <td class="detabiao" bgcolor="#ffffff">肉丝拉皮</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">粉丝小白菜</td>
								            <td class="detabiao" bgcolor="#ffffff">美味炒三丝</td>
								            <td class="detabiao" bgcolor="#ffffff">豆泡白菜</td>
								        </tr>
								        <tr>
								            <td class="detabiao" bgcolor="#ffffff">酸辣豆腐汤</td>
								            <td class="detabiao" bgcolor="#ffffff">肉丸汤</td>
								            <td class="detabiao" bgcolor="#ffffff">白菜粉丝汤</td>
								        </tr>
								    </tbody>
								</table>
                            </div>
						</div>
				    </div>
				</div>		
			</div>
				<!-- footer start -->
				<include file="Public:footer" />
				<!-- footer end -->
		</div>
		<script type="text/javascript" src="__PUBLIC__/phone/js/common.js" ></script>
	</body>
</html>