<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>主题活动</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/liner.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/hqshaonian/hongqiaoyouth.css" />
		<script type="text/javascript" src="__PUBLIC__js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__js/focus.js"></script>
	</head>
	<body>
	<div class="wrp">
			<!--顶部-->
			<include file="Public:header" />
			<div class="mainWrap relative clearfix" style="margin-bottom: 30px;">
				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../hongqiaoYouth/inspection.html" class="navs-item">常规检评</a></li>
						<li><a href="../hongqiaoYouth/activity.html">主题活动</a></li>
						<li><a href="../hongqiaoYouth/work.html">学生作业</a></li>
						<li><a href="../hongqiaoYouth/virtue.html">美德少年</a></li>
						<li><a href="../hongqiaoYouth/garden.html">班级园地</a></li>
					</ul>
				</section>
				<div class="detailContent clearfix">
					<div class="column_R">
						<div class="mainContent">
							<div class="introTit clearfix">
								<div class="introTitImg" style="background-image:url(__PUBLIC__images/small.jpg)"></div>
								<h2>主题活动</h2>
							</div>
						</div>
					</div>
					<div class="content-wrap clearfix">
						<div class="container">
							<h3>{$data_title}</h3>
							<p class="xwtime">
                                                                 发表于：{$data_content['updatetime']|date="Y-m-d H:i:s",###}　　　浏览次数：
                            </p>
                            <div class="Content_Nr">
                               <p align="center" style="text-align:center;">
								<br>
							   </p>
								<p style="text-indent:28.0pt;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">2015年9月21日中午，在秋日的暖阳中，我校团支部成员齐聚一堂，召开了本学期团支部的第一次会议。刘钢书记与党员黎莹老师也与会指导。<span></span></span>
								</p>
								<p style="text-indent:28.0pt;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">团支部书记曾松老师对本期的支部活动提出了自己的畅想，大致规划了活动方向，鼓励大家积极思考、出谋划策、热情参与。刘书记对本次会议予以了肯定，并向团员们提出了自己的殷切希望，希望各位团员能够虚心学习、积极进行体育锻炼、主动参加各类志愿活动，用自己的实际行动展现虹桥小学团支部的优秀品质。
								</p>
								<p style="text-indent:28.0pt;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">青春似火，燃烧着激情；青春如歌，唱响了希望。虹桥小学团支部一定紧密团结在党组织的领导下，活泼热情、积极主动，用我们的青春谱写美丽的诗篇。
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;"><img src="__ROOT__{$img['thumb']}" alt=""><br>
								</span>
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">关爱特殊儿童</span>
								</p>
                                <p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;"><img src="__PUBLIC__images/partyEthics/20150804163721_3281.jpg" alt=""><br>
								</span>
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">关爱特殊儿童</span>
								</p>
                                <p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;"><img src="__PUBLIC__images/partyEthics/20150804163721_3281.jpg" alt=""><br>
								</span>
								</p>
								<p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">关爱特殊儿童</span>
								</p>
                               <p align="center" style="text-align:center;">
									<span style="font-size:14.0pt;line-height:150%;font-family:宋体;">（供稿、供图：刘丽</span>
								</p>
							</div>
							<div class="ull_top">
								<ul class="ull">
	                                <li><strong>上一篇：</strong>没有上一篇了</li>
							        <li><strong>下一篇：</strong><a href="#">虹桥小学党支部《做党和人民满意的好老师》主题实践活动二</a></li>
							    </ul>
						    </div>
						</div>
				    </div>
				</div>		
			</div>
	        <div class="fooetr clearfix" style="padding-top:20px ;">
				<div class="wd_1000">
					<div class="statement" style="padding-top:20px; padding-bottom: 20px;">
						<img src="__PUBLIC__images/log.png" />
					</div>
				    <div style="border: 1px solid #FFFFFF;"></div>
				    <div class="footerP">
						<p>版权所有：长沙高新区虹桥小学湖南省第一师范虹桥实验小学 地址：长沙高新区麓谷街道栖才路199号</p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__js/common.js" ></script>
	</body>
</html>