<div class="n-bCol3 bg">
    <div class="header mar1200c posRel" style="background-color: #fff;">
        <div class="header-right fRi">
            <div class="header-seach-w-1 marR291">
                <div class="z-seach">
                    <div class="header-seach-card">
                    	<a class="cur" href="javascript:">产品</a>
                        <a style="display: none;" href="javascript:">出租</a>                        
                        <a href="javascript:">店铺</a>
                    </div>
                    <form action="http://www.orangesha.com/index.php/Home/Search/index?" method="get">
                        <input type='hidden' name='type' value='2'>
                        <input type="text" name='keyword' class="txt04 txt-style-1" placeholder="商品名 / 品牌 / SKU" style="font-size:12px;"/>
                        <button class="z-submit icon-btn-search" id="submit" style='width:100px'>搜索</button>
                    </form>
                </div>
                <div class="z-seach-hot demo-cCol2">
                    <a href="http://www.orangesha.com/mall/c-5390.html" target="_blank">办公用品</a>
                    <a href="http://www.orangesha.com/mall/c-7096.html" target="_blank">电动工具</a>
                    <a href="http://www.orangesha.com/mall/c-2987.html" target="_blank">安全防护</a>
                    <a href="http://www.orangesha.com/mall/c-44.html" target="_blank">PLC</a>
                    <a href="http://www.orangesha.com/mall/c-47.html" target="_blank">变频器</a>
                    <a href="http://www.orangesha.com/mall/c-3484.html" target="_blank">手套</a>
                </div>
            </div>
        </div>
        <a href="http://www.orangesha.com/cart.html" target="_blank" rel="nofollow" class="buyCar_butt icon-s-1">
            我的购物车 >
            <span class="icon-s-num-1">{$cart_total}</span>
        </a>
        <a class="logo" href="http://www.orangesha.com/" title="{$seo['title']}"></a>
        <div class="clear"></div>
    </div>
</div>

