
<div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>

<div id="floatDivBoxs">
	<div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li style="padding-left:0px;"><a target="_blank" href="tencent://message/?uin={$uinfo.qq}&Site=sc.chinaz.com&Menu=yes"><img src="{:C('STATIC_URL')}/img/images/qq.png" align="absmiddle">&nbsp;&nbsp;在线客服</li>
           
        </ul>
        <div class="floatDtxt">热线电话</div>
        <div class="floatDtel" style="color:#F38224;font-size:16px;">{$uinfo.username}</div>
        
    </div>
    <div class="floatDbg"></div>
</div>

