<div class="n-bCol3 bg">
    <div class="header mar1200c posRel" style="background-color: #fff;">
    	<div class="header_div conpanyname">
    		<p>e橙优品智能装备分享</p>
    		<div>品牌直销</div>
    	</div>
    	<div class="header_div">
    		<ul>
    			<li>描述</li>
    			<li>服务</li>
    			<li>物流</li>
    		</ul>
    		<ul>
    			<li style="color: #FE6700;">0.0-</li>
    			<li style="color: #FE6700;">0.0-</li>
    			<li style="color: #FE6700;">0.0-</li>
    		</ul>
    	</div>
        <div class="header-right fRi">
            <div class="header-seach-w-1 marR291">
                <div class="z-seach">
                    <div class="header-seach-card">
                        <!--<a href="javascript:">分享</a>-->
                        <a class="cur" href="javascript:">产品</a>
                        <a href="javascript:">店铺</a>
                    </div>
                    <form action="{:U('Search/index')}" method="get">
                        <input type='hidden' name='type' value='1'>
                        <input type="text" name='keyword' class="txt04 txt-style-1" placeholder="商品名/品牌" style="font-size:12px;"/>
                        <button class="z-submit icon-btn-search" id="submit" style='width:100px'>搜索</button>
                    </form>
                </div>
                <div class="z-seach-hot demo-cCol2">
                    <a href="http://www.orangesha.com/baozhuanrobot.html">包装机器人</a><a href="http://www.orangesha.com/hangpaiwrj.html">航拍无人机</a><a href="http://www.orangesha.com/3Ddayinji.html">3D打印机</a><a href="http://www.orangesha.com/shukongjichuan.html">数控机床</a>
                </div>
            </div>
        </div>
        <a href="{:U('Member_center/cart')}" class="buyCar_butt icon-s-1">
            我的购物车 >
            <span class="icon-s-num-1">{$cart_total}</span>
        </a>
        <a title="中国工业机器人,数控机床多少钱一台,无人机,3d打印机多少钱,农业无人机,自动化生产线,节能环保产品,实验室仪器设备,工业机器人,码垛机器人,包装机器人,弧焊机器人,数控机床,电子设备,新材料,新能源,e橙优品" class="logo" href="{:U('Index/index')}"></a>
        <div class="clear"></div>
    </div>
</div>

