<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>处理退款申请</title>
		<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
        <link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
        <link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
        <link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/orderRefund.css" type="text/css">
        <script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
        <script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-2.0.3.min.js"></script>       
	</head>
	<body>
		<include file="Public:header_top" />
		<div class="orderRefund_top">
			<div>
				<a class="logo2" href="http://{$Think.server.HTTP_HOST}" title="中国工业机器人,数控机床多少钱一台,无人机,3d打印机多少钱,农业无人机"></a>
				<p>您的位置： <a href="{:U('Index/index')}">首页</a> > <a href="{:U('MemberOrder/orderList')}">我的订单</a> > <a>订单管理</a> </p>
			</div>			
		</div>	
		<ul class="refund_step">
			<li>
				<div>买家申请仅退款</div>
				<!--<div></div>-->
			</li>
			<li>
				<div>卖家处理退款申请</div>
				<!--<div></div>		-->		
			</li>
			<li>
				<div>退款成功</div>	
				<!--<div></div>	-->				
			</li>
		</ul>
		<div class="orderRefund_box">
			<!--仅退款-->			
			<div class="dealWith_refund">				
				<h2>请处理退款申请</h2>
				<ul>
					<li>· 如果您同意，将直接退款给买家。</li>
					<li>· 如果您拒绝，买家可以要求e橙客服介入处理。如e橙客服核实是您的责任，将会影响您的店铺评分。</li>
					<li>· 如果您逾期未处理，系统将自动退款给买家。</li>
				</ul>
				<button>同意退款申请</button>
				<div>
					<span>您还可以：</span> <a>拒绝退款申请</a> | <a>申请介入</a>
  				</div>
  				<div>留言板</div>
  				<div>
  					<img />
  					<p>一座空城 - 买家 <span>2017-04-08 10:00:00</span></p>
  					<p>发起了仅退款申请，货物状态：未收到货。原因：其他。金额：20.00元。</p>
  				</div>  				
			</div>
			<!--退款成功-->
			<div class="refund_ok2 refund_style_box2">
				<div>
					<h2>退款成功</h2>
			        <p>· 退款金额：{$re.total_price}元。</p>
				</div>
			    <div>
			    	<div>留言板</div>
			    	<ul>
			    		<li>
			    			<img src="{$re.goods_thumb}" alt=""/>
			    			<p>卖家 <span>{$re.create_time}</span></p>
			    			<p>商家主动同意，退款给买家{$re.total_price}元。</p>
			    		</li>
			    		<li>
			    			<img />
			    			<p>卖家 <span>2017-04-12 14:30:55</span></p>
			    			<p>商家同意了本次售后服务申请。</p>
			    		</li>
			    		<li>
			    			<img />
			    			<p>买家 <span>2017-04-12 14:30:55</span></p>
			    			<p>发起了申请，货物状态：未发货，原因：其他，金额：20.00元，说明：...。</p>
			    		</li>
			    	</ul>
			    </div>
			</div>
			<!--订单信息-->
			<div class="right">
				<h3>订单信息</h3>
				<div>
					<img src="{$re.goods_thumb}" alt="" width="100" />
					<p><a class="order_detail">{$re.goods_name}</a></p>
				</div>
				<table>
					<tr>
						<td>买家：</td>
						<td>{$re.name}</td>
					</tr>
					<tr>
						<td>订单编号：</td>
						<td>{$re.order_sn}</td>
					</tr>
					<tr>
						<td>单价：</td>
						<td>￥{$re.goods_price}</td>
					</tr>
					<tr>
						<td>快递：</td>
						<td>￥0.00元</td>
					</tr>
				</table>
				<table>
					<tr>
						<td>退款编号：</td>
						<td>{$re.refund_id}</td>
					</tr>
					<tr>
						<td>退款金额：</td>
						<td><span class="star">{$re.total_price}</span> 元</td>
					</tr>
					<tr>
						<td>原因：</td>
						<td></td>
					</tr>
					<tr>
						<td>要求：</td>
						<td><if condition="$re.type eq 1">仅退款<elseif condition="$re.type eq 2"/>换货<else/>退货退款</if></td>
					</tr>
					<tr>
						<td>货物状态：</td>
						<td><if condition="$re.beacuse eq 1">未收到货<else/>已收到货</if></td>
					</tr>
					<tr>
						<td>说明：</td>
						<td>{$re.refund_content}</td>
					</tr>
				</table>
			</div>			
		</div>
	<script>
	    
	</script>	
	</body>
</html>
