<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>课程介绍</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/liner.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/chkecheng/Classintroduction.css" />
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
	</head>
	<body>
	<div class="wrp">
						<!--顶部-->
			<include file="Public:header" />
			<!-- 顶部结束 -->
			<div class="mainWrap relative clearfix" style="margin-bottom: 30px;">
				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../rainbowCourse/classintroduction.html" class="navs-item">课程介绍</a></li>
						<li><a href="../rainbowCourse/Courseintroduction.html" target="_blank">课程设置</a></li>
						<li><a href="javascript:;" target="_blank">课程掠影</a></li>
						<li><a href="javascript:;" target="_blank">课程评价</a></li>
						<li><a href="javascript:;" target="_blank">报名系统</a></li>
					</ul>
				</section>	
				<div class="detailContent clearfix">
					<div class="column_R">
						<div class="mainContent">
							<div class="introTit clearfix">
								<div class="introTitImg" style="background-image:url(__PUBLIC__/phone/images/small.jpg)"></div>
								<h2>课程介绍</h2>
							</div>
						</div>
					</div>
					<div class="content-wrap clearfix">
						<div class="cont_top">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实施国家课程、地方课程和学校课程三级管理的课程，是我国基础教育课程建设的变革要求，而变革只有在学校层面实施时才能真正体现其价值。作为基层学校，
								如何根据学校所处的地域差异和拥有的办学资源及师资学生差异，以及学校自身发展的需要，在上好国家课程及地方课程的基础上，以学校为主体，开发切合实际
								的校本课程，这是每所学校所必须思考的问题。
							</p>	
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虹桥小学十分重视课程建设，本着促使学生素质多元发展的目标，与外部力量合作，充分利用校内外课程资源，开发多样性的，可供学生自主选择的、深受学生喜爱
								的校本课程。2012年至今，学校开发校本课程57门，编写出了十余套校本教材，为国家课程作了有益的补充。学生可自主选择课程，教师可根据学生的需求、能力、
								兴趣和特点修订校本课程，学校课程管理者则根据学校、教师、学生的需求，强化课程的前后衔接，从实际收效决定开设或关闭课程。这为开发学生的潜能，激发学生
								的学习兴趣，促使学生多元，提高学生人文素养创造了条件，尤其是持续发展的“彩虹足球课程”、“彩虹机器人课程”、“彩虹电脑制作课程”、“彩虹创艺美劳课程”、
								“彩虹公共安全课程”为艺术特色学校、体育特色学校、科技特色学校的建设提供了坚实的保证。
                            </p>
                            <p>
                            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年下学期，为满足学生的不同需要，促进学生的个性发展。
                            </p>
                            <p>
                            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校开设了“语言与文字”、“文化与艺术”、“科学与技术”、“体育与健康”、“综合学习与实践”五个领域共计57门彩虹课程，每周二下午对学生开放。走到每一个角落，
                            	都能看到孩子们专注的眼神，开心的笑容。音乐教室，“葫芦丝”和“口风琴”班的同学们正专注地演奏，传出阵阵悦耳旋律；食堂里，“趣味烘焙”班飘出诱人的香味；
                            	操场上，篮球队员和足球队员奔跑的飒爽英姿……
                            </p>
						</div>
					</div>
				</div>		
			</div>
				<!-- footer start -->
				<include file="Public:footer" />
				<!-- footer end -->
		</div>
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery-1.11.2.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/common.js" ></script>
	</body>
</html>