<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>课程评价</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
        <link rel="stylesheet" href="__PUBLIC__/phone/css/chkecheng/curriculumeva.css"/>
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
	</head>
	<body>
		<div class="wrp">
				<!-- header start -->
				<include file="Public:header" />
				<!-- header end -->
			</div>
			<div class="container">
				<div id="sidebar">
					<img src="__PUBLIC__/phone/images/rainbowCourse/ico13.jpg" />
					<dl>
						<dt><img src="__PUBLIC__/phone/images/rainbowCourse/tit3.gif"></dt>
						<dd><a href="../rainbowCourse/Courseintroduction.html" class="curr">A语言与文字类</a></dd>
                        <dd><a href="../rainbowCourse/Cultureart.html">B文化与艺术类</a></dd>
                        <dd><a href="../rainbowCourse/Sportshealth.html">C体育与健康类</a></dd>
                        <dd><a href="../rainbowCourse/Sciencetechnology.html">D科学与技术类</a></dd>
                        <dd><a href="../rainbowCourse/Comprehensivestudy.html">E综合学习与实践</a></dd>
                    </dl>
				</div>
				<div class="content">
					<div class="classbox">
						<h1>虹桥小学“我们爱阅读”拓展课程纲要</h1>
						<h2 class="h2-module">
							<span>课程介绍</span>
						</h2>
						<div class="info">
							<table width="720" bgcolor="#000000" border="1">
								<tbody>
									<tr>
										<td class="detabiao" bgcolor="#ffffff" colspan="2">课程名称：我们爱阅读</td>
										<td class="detabiao" bgcolor="#ffffff" colspan="2">主讲教师：郑觉华</td>
									</tr>
									<tr>
										<td class="detabiao" bgcolor="#ffffff" colspan="2">教学材料：沈石溪作品、四大名著</td>
										<td class="detabiao" bgcolor="#ffffff" colspan="2">课程类型：语言与文学类</td>
									</tr>
									<tr>
										<td class="detabiao" bgcolor="#ffffff" colspan="2">授课时间：32课时</td>
										<td class="detabiao" bgcolor="#ffffff" colspan="2">授课对象：五、六年级学生</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="outline">
						<h2 class="h2-module">
							<span>课程纲要</span>
						</h2>
						<div class="outlinetop">
							<p> 1.让学生在好书推介活动中认识更多有益的课外书籍，从而进一步提高课外阅读的兴趣，养成良好的阅读习惯。</p>
							<p>2.指导学生归纳阅读方法，并实际运用到课外阅读中。</p>
							<p>3.向学生推荐有关中国传统文化的有关文章，通过对这些课外阅读，学生从中了解更多中国传统文化，达到教学延展的目的。</p>
						</div>
					</div>
					<div class="classtop">
						<h2 class="h2-module">
							<span>课程图片</span>
						</h2>
						<ul style="margin-top: 5px;">
							<li>
								<a href="#"><img src="__PUBLIC__/phone/images/curriculumeva/20151020183622.jpg" width="169"></a>
								<br>
								<p>其他课程</p>
							</li>
							<li>
								<a href="#"><img src="__PUBLIC__/phone/images/curriculumeva/20151020183622.jpg" width="169"></a>
								<br>
								<p>其他课程</p>
							</li>
							<li>
								<a href="#"><img src="__PUBLIC__/phone/images/curriculumeva/20151020183622.jpg" width="169"></a>
								<br>
								<p>其他课程</p>
							</li>
							<li>
								<a href="#"><img src="__PUBLIC__/phone/images/curriculumeva/20151020183622.jpg" width="169"></a>
								<br>
								<p>其他课程</p>
							</li>
						</ul>
					</div>
					<div class="evalua clearfix">
						<h2 class="h2-module">
							<span>个人资料</span>
						</h2>
						<dl style="margin-top: 5px;">
							<dt>
								<img src="__PUBLIC__/phone/images/rainbowCourse/teacher.jpg" />
							</dt>
							<dd>
								<p> 
									杨志强，男，信息技术教师，小教一级，毕业于中南林业科技大学计算机科学与技术专业。
									从事信息技术教学工作多年，带领学生多次荣获电脑制作比赛省、国家级奖励。
								</p>
							</dd>
						</dl>
					</div>
					<div class="article clearfix">
						<h2 class="h2-module">
							<span>课程文章</span>
						</h2>
						<div class="articletop">
							<p> 第1、2课时：介绍阅读方法 ——引导学生在阅读活动中运用字典、词典等工具书以及其他相关资料辅助阅读，解决阅读中的问题，同时引导怎样爱书、护书，注意阅读卫生等。 </p>
							<p> 第3、4课时：阅读沈石溪的动物小说——让孩子们知道爱与温情才是生命得以延续且进化的最终能量。 </p>
							<p>第5、6课时：阅读沈石溪的动物小说—— 让学生间接的感受情感，感悟生命。</p>
							<p> 第7、8课时：阅读外国动物小说《兔群迁移大战》——领略外国小说的语言特点。</p>
							<p>第9、10课时：阅读林林海音《城南旧事》——《城南旧事》是一代人的回忆，却带给世世代代人以感动与震撼。通过看似狭小的描写，却反映了当时北京的整个历史面貌，有极强的社会意义。</p>
						</div>
					</div>
					<div class="instr">
						<h2 class="h2-module">
							<span>评价</span>
						</h2>
						<div class="instrboox">
							<h2 class="ef">选择评价选项</h2>
							<div class="inter">
								<span class="etx">出勤率:</span>
								<ul class="etxt">
									<li>满意<input type="radio" name="sex" style="width:30px" value="满意" checked="checked"></li>
									<li>正常<input type="radio" name="sex" style="width:30px" value="正常" checked="checked"></li>
									<li>缺席<input type="radio" name="sex" style="width:30px" value="缺席" checked="checked"></li>
								</ul>
							</div>
							<div class="inter">
								<span class="etx">学习态度:</span>
								<ul class="etxt">
									<li>上课遵守纪律<input type="radio" name="sex" style="width:30px" value="上课遵守纪律" checked="checked"></li>
									<li>积极参与<input type="radio" name="sex" style="width:30px" value="积极参与" checked="checked"></li>
									<li>团结同学<input type="radio" name="sex" style="width:30px" value="团结同学" checked="checked"></li>
								</ul>
							</div>
							<div class="inter">
								<span class="etx">学习过程表现:</span>
								<ul class="etxt">
									<li>积极思考<input type="radio" name="sex" style="width:30px" value="积极思考" checked="checked"></li>
									<li>有创新意识<input type="radio" name="sex" style="width:30px" value="有创新意识" checked="checked"></li>
									<li>分享自我感受<input type="radio" name="sex" style="width:30px" value="愿意分享自我感受" checked="checked"></li>
								</ul>
							</div>
						</div>
						<div class="intro clearfix">
							<h2>请写出对该教师的评价及建议</h2>
							<textarea id="content" name="content" cols="" rows="" class="easyui-validatebox" required="true" validtype="length[10,500]"></textarea>
							<div class="bottom" style="margin-top: 10px;">
								<a href="#" class="green_btn btn">确认</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fooetr clearfix">
				<div class="wd_1000">
					<div class="statement" style="padding-top:20px; padding-bottom: 20px;">
						<img src="__PUBLIC__/phone/images/log.png">
					</div>
				    <div style="border: 1px solid #FFFFFF;"></div>
				    <div class="footerP">
						<p>版权所有：长沙高新区虹桥小学湖南省第一师范虹桥实验小学 地址：长沙高新区麓谷街道栖才路199号</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>