<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>课程设置</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/liner.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/chkecheng/class.css" />
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
	</head>
	<body>
		<div class="wrp">
			<!-- header start -->
			<include file="Public:header" />
			<!-- header end -->
			<div class="container">
				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../rainbowCourse/classintroduction.html" class="navs-item">课程介绍</a></li>
						<li><a href="../rainbowCourse/Courseintroduction.html" target="_blank">课程设置</a></li>
						<li><a href="../rainbowCourse/classglimpse.html">课程掠影</a></li>
						<li><a href="../rainbowCourse/evaluation.html" target="_blank">课程评价</a></li>
						<li><a href="http://www.cshqxx.com/xk" target="_blank">报名系统</a></li>
					</ul>
				</section>	
				<div id="sidebar">
					<img src="__PUBLIC__/phone/images/rainbowCourse/ico13.jpg" />
					<dl>
						<dt><img src="__PUBLIC__/phone/images/rainbowCourse/tit3.gif"></dt>
						<dd><a href="../rainbowCourse/Courseintroduction.html" class="curr">A语言与文字类</a></dd>
                        <dd><a href="../rainbowCourse/Cultureart.html">B文化与艺术类</a></dd>
                        <dd><a href="../rainbowCourse/Sportshealth.html">C体育与健康类</a></dd>
                        <dd><a href="../rainbowCourse/Sciencetechnology.html">D科学与技术类</a></dd>
                        <dd><a href="../rainbowCourse/Comprehensivestudy.html">E综合学习与实践</a></dd>
                    </dl>
				</div>
				<div class="content">
					<div class="classbox">
						<ul class="ullbox">
							<li>
								<div class="info firt">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
							<li>
								<div class="info">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
							<li>
								<div class="info">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
							<li>
								<div class="info firt">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
							<li>
								<div class="info">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
							<li>
								<div class="info">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
                            <li>
								<div class="info firt">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
							<li>
								<div class="info">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
							<li>
								<div class="info">
									<img src="__PUBLIC__/phone/images/rainbowCourse/01.jpg" />
									<p class="ft">玩中学分数除法</p>
									<p class="ftb"><span class="lt">766</span>位同学观看 ></p>
									<div class="title">
										<a href="../rainbowCourse/Curriculumevaluation.html" class="titleL">评价</a>
										<a href="#" class="titleR"><img src="__PUBLIC__/phone/images/rainbowCourse/good.png" width="20" height="20"></a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
				<!-- footer start -->
				<include file="Public:footer" />
				<!-- footer end -->
		</div>
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery-1.11.2.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/common.js" ></script>
	</body>
</html>
