<extend name="NBase/mallcommon"/>
<block name="style">
    <link href="{:C('STATIC_URL')}/Orangesha/css/details.css" rel="stylesheet">
    <link href="{:C('STATIC_URL')}/Orangesha/css/mlist.css" rel="stylesheet">
</block>
<block name="header">
    <div class="shop-logo">
        <img src="{:C('STATIC_URL')}/Orangesha/image/shop_logo.jpg" alt="">
    </div>
    <div class="shop-nav">
        <ul>
            <li>首页</li>
            <li>所有商品</li>
            <li>配件</li>
        </ul>
    </div>
</block>
<block name="body" >
    <div class="list">
        <div class="list-header">
            <span>首页 > 节能环保装备 > 噪音处理</span><span class="header-right">共 10362件相关商品</span>
        </div>
        <div class="list-title">
            <div class="list-price">
                <ul>
                    <li class="text">价钱:</li>
                    <li>1-500</li>
                    <li>500-5000</li>
                    <li>5万-8万</li>
                    <li>5万-10万</li>
                    <li>10万以上</li>
                    <li class="into">
                        <input type="text"> - <input type="text"> <span>确定</span>
                    </li>
                </ul>
            </div>
            <div class="list-type">
                <ul>
                    <li class="text">类型:</li>
                    <li>工业机器人</li>
                    <li>数控机床</li>
                    <li>工业无人机</li>
                    <li>工业3D打印机</li>
                    <li>实验室仪器设备</li>
                    <li>新能源装备</li>
                    <!-- <li>节能环保装备</li>
                    <li>生物产业装备</li>
                    <li>新材料产业装备</li>
                    <li>计算机电子设备</li>
                    <li>自动化生产线</li> -->
                </ul>
            </div>
        </div>
    </div>
</block>