
<!DOCTYPE HTML>
<html>
<head>
<meta name="keywords" content="{$seo['keywords']}">
<meta name="description" content="{$seo['description']}"">
<meta name="copyright" content="深圳市橙橙网络科技有限公司(www.orangesha.com)版权所有">
<meta name="author" content="橙橙分享"> 
<title>{$seo['title']}</title>
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/css.css" type="text/css">
<link rel="shortcut icon" href="/Public/Home/images/ee.ico" type="image/x-icon">
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="{:C('STATIC_URL')}/Homejs/jquery-1.10.2.min.js"></script>
<![endif]-->
<script src="/Public/Home/js/header.js"></script>
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/Service/css/cssReset.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/Service/css/financial-service.css" rel="stylesheet">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/home.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/Orangesha/css/list.css" type="text/css">
</head>
<body >
<include file="Public:header_top" />
<!--上部logo搜索栏-->
  <div class="service-header mar1200c posRel clearfix">
      <a href="/index.php?s=/Home/Index/index.html" class="logo" title="中国工业机器人,数控机床多少钱一台,无人机,3d打印机多少钱,农业无人机"></a>
      <div class="header-right clearfix">
            <ul style="list-style:none;margin:6px 0px 0px 30px; width: 290px; height: 60px; background: url({:C('STATIC_URL')}/images/images/header-right_03.jpg) no-repeat;" >       
                <a href="javascript:void(0);" onclick="Openwindow()"><li style="margin-left: -6px; float:left; height: 60px; line-height: 100px;">免费申请</li></a>
                <li style="float:left;margin-left:71px; height: 60px; line-height: 100px;">填写材料</li> 
                <li style="float:left;margin-left:75px; height: 60px; line-height: 100px;">提交成功</li>         
            </ul>
      </div>
  </div>
  <div class="service-banner"></div>
  <ul class="service-merit mar1200c clearfix" style="width: 1000px;">
     <li class="li-first">
         <p>极速放款</p>
         <p>四十八小时内到账</p>
     </li>
      <li class="li-first">
          <p>全程服务</p>
          <p>供应链全程可视化跟踪</p>
      </li>
      <li class="li-first">
          <p>0手续费</p>
          <p>优质服务不收费</p>
      </li>
      <li class="li-first">
          <p>融资比例高</p>
          <p>最高可达100%</p>
      </li>
  </ul>
  <div class="service-dai">
      <div class="mar1200c dai-txt">
          <p><span>橙橙贷</span>先提货，后付款</p>
          <p>橙橙金融提供的中小企业小额信用贷款产品，是面向橙橙用户提供的信用融资服务，依托交易和客户信用大数据评定客户授信额度和期限。</p>
          <div class="clearfix service-company clearfix">
              <p class="cooperation-list">合作伙伴 :</p>
              <ul>
                  <li><a href="http://www.pingan.com/?WT.mc_id=SEM-BDBZ-PC0040&WT.srch=1" target="_blank"><img src="{:C('STATIC_URL')}/Home/Service/images/company-icon_03.jpg" alt=""></a></li>
                  <li><a href="https://www.tongbanjie.com/?channel=baidu_c" target="_blank"><img src="{:C('STATIC_URL')}/Home/Service/images/company-icon_05.jpg" alt=""></a></li>
                  <li><a href="http://www.cntaiping.com/" target="_blank"><img src="{:C('STATIC_URL')}/Home/Service/images/company-icon_07.jpg" alt=""></a></li>
              </ul>
          </div>
          <p><a class="order-btn" href="javascript:void(0);" onclick="Openwindow()">马上预约</a></p>
      </div>
  </div>
  <div class="service-dai orange-shopping">
      <div class="mar1200c dai-txt">
          <p><span>橙橙购</span>企业客户的备货平台</p>
          <p>橙橙金融平台提供在线代理采购服务，企业客户在橙橙网成交的订单，可委托橙橙网垫付资金至上游， 代理采购的货物存入橙橙及客户认可的仓库，客户根据自身需求分批还款提货。</p>
          <div class="clearfix service-company clearfix">
              <p class="cooperation-list">合作伙伴 :</p>
              <ul>
                  <li><a href="http://www.cmstd.com.cn/" target="_blank"><img src="{:C('STATIC_URL')}/Home/Service/images/shopping-company_03.jpg" alt=""></a></li>
                  <li><a href="http://www.super-chain.com/chs/index.asp" target="_blank"><img src="{:C('STATIC_URL')}/Home/Service/images/shopping-company_05.jpg" alt=""></a></li>
              </ul>
          </div>
          <p><a class="order-btn" href="javascript:void(0);" onclick="Openwindow()">马上预约</a></p>
      </div>
  </div>
  <div class="service-dai real-right">
      <div class="mar1200c dai-txt">
          <p><span>物权贷</span>闲置设备变流动资金</p>
          <p>橙橙金融提供闲置设备抵押融资服务，仅需在线签订合同，最快当日放款，最高可融资80%，还可委托橙橙网代售。</p>
          <div class="clearfix service-company clearfix">
              <p class="cooperation-list">合作伙伴 :</p>
              <ul>
                  <li><a href="http://www.pingan.com/?WT.mc_id=SEM-BDBZ-PC0040&WT.srch=1" target="_blank"><img src="{:C('STATIC_URL')}/Home/Service/images/company-icon_03.jpg" alt=""></a></li>
                  <li><a href="https://www.tongbanjie.com/?channel=baidu_c" target="_blank"><img src="{:C('STATIC_URL')}/Home/Service/images/company-icon_05.jpg" alt=""></a></li>
                  <li><a href="http://www.cntaiping.com/" target="_blank"><img src="{:C('STATIC_URL')}/Home/Service/images/company-icon_07.jpg" alt=""></a></li>
              </ul>
          </div>
          <p><a class="order-btn" href="javascript:void(0);" onclick="Openwindow()">马上预约</a></p>
      </div>
  </div>

	<!-- /主体 -->
<include file="Public:footer" />
<script>
	function Openwindow(){
	
	layer.open({
	  type: 2,
	  title: '申请表单',
	  maxmin: true,
	  shadeClose: true, //点击遮罩关闭层
	  area : ['700px' , '580px'],
	  content: '{:U('Server/request3')}'
	 });
    }
	
</script>
</body>
</html>