<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>e橙优品-找回密码</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="{:C('STATIC_URL')}/Home/css/register.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/changePhone.css" type="text/css">
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/js/validate.js"></script>
 <script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<style>
    button{ border: none; outline: none;}
    input{ height: 23px; border: 1px solid #989898; padding-left: 5px;}
    .step_ul{ width: 56%; margin: 50px auto;}
	.step_ul li{ width: 20%; font-size: 16px;}
	#phoneCode{ width: 182px;}
	#checkcode{ width: 100px;}
	.change_box1{ width: 500px;}
	.change_box2{ display: none; width: 500px; height: 130px; margin: 0 auto; text-align: left;}
	#findWay{width: 250px;height: 35px;border-color: #37A4A2;color: #37A4A2; margin-top: 20px; outline: none; cursor: pointer;}
	.nextStep2{transform: translate(0%,70px);}
	.change_box3{ width: 500px; height: 130px; margin: 0 auto; display: none;}
	.change_box4{ width: 500px; margin: 0 auto; height: 460px; font-size: 14px; display: none;}
	.change_box4 input{ border-color: #37A4A2;}
	.change_box4 .set_question{ margin-bottom: 30px;}
	.change_box4 .set_question input{ height: 30px;}
	.change_box4 table td:first-of-type{ text-align: right;}
	/*.change_box4 table td:nth-of-type(2){ color: #37A4A2;}*/
	.phone_check{ width: 500px; height: 90px;}
	.phone_check td{ font-size: 14px;}
	.phone_check td:nth-of-type(2){ text-align: left;}
	.change_box5,.change_box6,.change_box7,.change_box8{ width: 540px; height: 130px; margin: 0 auto; font-size: 14px; display: none;}
    .change_box5 input,.change_box6 input,.change_box7 input,.change_box8 input{ width: 180px; height: 30px;}
    .phone_error{width: 156px;height: 23px;border: 1px solid #FCCCC0;background-color: #F8DECC;font-size: 12px;font-weight: bold;line-height: 23px;display: none;}
</style>
</head>
<body>
<!-- 头部 -->
    <div class="register public">
        <div class="header-top">
            <div>您好，欢迎您来到e橙优品智能装备<a href="http://www.orangesha.com/login.html" class="login">    请登录    </a><a href="http://www.orangesha.com/register.html"> 免费注册 </a></div>  
        </div>
        <div class="header-logo">
            <a href="http://www.orangesha.com/"><div class="logo"></div></a>
            <div class="text">找回密码</div>
        </div>
        <!-- 主体 -->
        
            <div class="user-right marT20 box-s-c1 fRi">            
            	<ul class="step_ul">
            		<li class="active">
            			<div>1</div>输入账号
            		</li>
            		<li>
            			<div>2</div>选择验证方式
            		</li>
            		<li>
            			<div>3</div>验证身份
            		</li>
            		<li>
            			<div>4</div>重置密码
            		</li>
            		<li>
            			<div>5</div>修改成功
            		</li>
            	</ul>
<!--第一步-->
            	<div class="change_box1">
                  <table class="phone_check">
            		<tr>
            			<td>手机号：</td>
            			<td><input type="text" id="phoneCode" placeholder="请输入您的手机号码"></td>
            			<td>
            				<div class="phone_error">
            				<div>x</div>手机号码格式错误
            				</div>
            			</td>
            		</tr>
            	  </table>
            	  <button class="nextStep1">下一步</button>
            	</div>           	
<!--第二步-->
            	<div class="change_box2">
            	  <table>
            	  	<tr>
            	  		<td>请选择验证方式：</td>
            	  	</tr>
            	  	<tr>
            	  		<td>
            	  			<select id="findWay">
                  	           <option>通过短信验证码找回</option>
                  	           <option>通过绑定邮箱找回</option>
                  	           <option>通过密保问题找回</option>
                            </select>
            	  		</td>
            	  	</tr>
            	  	<tr>
            	  		<td style="text-align: center;"><button class="nextStep2">下一步</button></td>
            	  	</tr>
            	  </table>	            	  
            	</div>
<!--第三步——手机找回   -->         	
            	<div class="change_box3">
                   <table class="phonecode_check">
            		 <tr>
            			<td style="text-align: right;">手机号：</td>
            			<td><span id="phoneNumber"></span></td>
            		 </tr>
            		 <tr>
            			 <td>短信验证码：</td>
            			 <td><input type="text" id="checkcode"></td>
            			 <td>
            				<button class="get_code">获取短信验证码</button>           				
            			 </td>
            			 <td>
            			 	<div class="code_error">
            					<div>x</div>验证码错误
            				</div>
            			 </td>
            		 </tr>
            	   </table>
            	   <button class="nextStep3">下一步</button>
            	</div>        	
<!--第三步——密保找回 -->           
                <div class="change_box4">
                  <table class="set_question">
                  	<tr>
                  		<td></td>
                  		<td>请输入以下密保问题的答案：</td>
                  	</tr>
            		<tr>
            			<td>问题一：</td>
            			<td>
            				<span id="question1"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>答案：</td>
            			<td><input type="text" id="answer1"></td>
            		</tr>
            		<tr>
            			<td>问题二：</td>
            			<td>
            				<span id="question2"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>答案：</td>
            			<td><input type="text" id="answer2"></td>
            		</tr>
            		<tr>
            			<td>问题三：</td>
            			<td>
            				<span id="question3"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>答案：</td>
            			<td><input type="text" id="answer3"></td>
            		</tr>
            	  </table>
            	  <button class="nextStep4">下一步</button>
            	</div>
<!--第三步——邮箱找回 -->
                <div class="change_box5">
                	<table class="emailcode_check">
            		 <!--<tr>
            			<td>邮箱：</td>
            			<td><span id="emailNumber"></span></td>
            		 </tr>-->
            		 <tr>
            			 <td>邮箱验证码：</td>
            			 <td><input type="text" id="checkcode2"></td>
            			 <td>
            				<button class="get_code2">获取邮箱验证码</button>            				
            			 </td>
            			 <td>
            			 	<div class="code_error2">
            					<div>x</div>验证码错误
            				</div>
            			 </td>
            		 </tr>
            	   </table>
            	   <button class="nextStep5">下一步</button>
                </div>
<!--第四步-->
                <div class="change_box6">
                   <table class="new_password">
            		 <tr>
            			<td>请输入新密码：</td>
            			<td><input type="password" id="new_password1"></td>
            			<td>
            				<div class="password_error1">
            					<div>x</div>密码格式不正确
            				</div>
            			</td>
            		 </tr>
            		 <tr>
            			 <td>请再次输入新密码：</td>
            			 <td><input type="password" id="new_password2"></td>
            			 <td>
            				<div class="password_error2">
            					<div>x</div>两次密码输入不一致
            				</div>
            			 </td>
            		 </tr>
            	   </table>
            	   <button class="nextStep6">下一步</button>
            	</div>
            	<div class="change_box7">
                   <table class="new_password">
            		 <tr>
            			<td>请输入新密码：</td>
            			<td><input type="password" id="new_password3"></td>
            			<td>
            				<div class="password_error1">
            					<div>x</div>密码格式不正确
            				</div>
            			</td>
            		 </tr>
            		 <tr>
            			 <td>请再次输入新密码：</td>
            			 <td><input type="password" id="new_password4"></td>
            			 <td>
            				<div class="password_error2">
            					<div>x</div>两次密码输入不一致
            				</div>
            			 </td>
            		 </tr>
            	   </table>
            	   <button class="nextStep7">下一步</button>
            	</div>
            	<div class="change_box8">
                   <table class="new_password">
            		 <tr>
            			<td>请输入新密码：</td>
            			<td><input type="password" id="new_password5"></td>
            			<td>
            				<div class="password_error1">
            					<div>x</div>密码格式不正确
            				</div>
            			</td>
            		 </tr>
            		 <tr>
            			 <td>请再次输入新密码：</td>
            			 <td><input type="password" id="new_password6"></td>
            			 <td>
            				<div class="password_error2">
            					<div>x</div>两次密码输入不一致
            				</div>
            			 </td>
            		 </tr>
            	   </table>
            	   <button class="nextStep8">下一步</button>
            	</div>
<!--修改成功-->
                <div class="change_success">
            		<p>密码修改成功</p>
            		<p>请牢记您的新密码，<span></span>秒后跳转到</p>
            		<p><a href="http://www.orangesha.com/login.html">去登录</a></p>
            	</div> 
            </div>
    </div>
    <!-- 公共底部 -->
    <include file="Public:footer" />
</body>
<script type="text/javascript">    
    
//第一步	
	//验证手机格式
    $("#phoneCode").blur(function(){   	        	     
                 checkNewPhone();
     })
    
    function checkNewPhone(){
	  var reg=/^1[34578]\d{9}$/;
	  var b=document.getElementById("phoneCode").value;
	  var a=reg.test(b);
	  
	  if(a==true){
		  $(".phone_error").css("display","none");
			}else{
				$(".phone_error").css("display","block"); 
				}
		  }
//第一步——下一步   
    $(".nextStep1").click(function(){
    	var reg=/^1[34578]\d{9}$/;
	    var b=document.getElementById("phoneCode").value;
	    var a=reg.test(b);
	    var data = {'telnum': $("#phoneCode").val()};
	    
	    $.post("{:U('FindPassword/getTelNum')}",data,function(res){
	    	console.log(res);
	    if(res.status==1){
		    $(".change_box1").css("display","none");
    		$(".change_box2").css("display","block");
    		$(".step_ul li:eq(0)").removeClass("active");
    		$(".step_ul li:eq(1)").addClass("active");
    		$("#phoneNumber").text($("#phoneCode").val())
		}else{
			alert(res.msg); 
			} 
	    })	      	
    }) 
    

//第二步
    //选择验证方式
    $(".nextStep2").click(function(){
    	var a = $("#findWay").val();
    	var data = {'telnum': $("#phoneCode").val()};
    	
    	if(a=="通过短信验证码找回"){
    		$(".change_box2").css("display","none");
    		$(".change_box3").css("display","block");
    		$(".step_ul li:eq(1)").removeClass("active");
    		$(".step_ul li:eq(2)").addClass("active");
    	}
    	if(a=="通过绑定邮箱找回"){
    		$.post("{:U('FindPassword/getTelNum')}",data,function(res){
    			if(res.data.is_email==1){
    				$(".change_box2").css("display","none");
    		        $(".change_box5").css("display","block");
    		        $(".step_ul li:eq(1)").removeClass("active");
    		        $(".step_ul li:eq(2)").addClass("active");
    			}else{
    				alert("该帐号未绑定邮箱！")
    			}
    		})
    	}
    	if(a=="通过密保问题找回"){
    		$.post("{:U('FindPassword/getTelNum')}",data,function(res){
    			if(res.data.is_security==1){
    				$(".change_box2").css("display","none");
    		        $(".change_box4").css("display","block");
    		        $(".step_ul li:eq(1)").removeClass("active");
    		        $(".step_ul li:eq(2)").addClass("active");
    		        $.post("{:U('FindPassword/usernameGetSecurity')}",function(res){
        	           console.log(res.data); 
        	           	  $("#question1").text(res.data[0].question) 
        	           	  $("#question2").text(res.data[1].question)
        	           	  $("#question3").text(res.data[2].question)
                    })
    			}else{
    				alert("该帐号未设置密保问题！")
    			}
    		})
    	}
    })

//第三步
  //手机找回
   //获取短信验证码
	$(".get_code").click(function(){
		var timer =60;
        var setTime;

         setTime=setInterval(function(){
                if(timer==0){
                	$(".get_code").css("background-color","#fff").css("color","#FF6200").css("border","1px solid #FF6200");
		            $(".get_code").text("重新获取");
                    clearInterval(setTime);
                    return;                   
                }
                timer--;
                $(".get_code").text(timer+" s 后重新获取");
                $(".get_code").css("background-color","#CCC").css("color","#666").css("border","1px solid #CCC");
            },1000);  
        
        $.post("{:U('FindPassword/telnumReplacementPwdCode')}",function(res){
        	console.log(res);
            if(res.msg=="短信发送间隔为1分钟"){
            	alert("短信发送间隔为1分钟");
            }
        })
        
	})
	
	function checkCode(){
        var data = {'phone_code': $("#checkcode").val()};
        $.post("{:U('FindPassword/checkTelnumCode')}",data,function(res){
        	console.log(res.status)
            if(res.status==1){
    		  $(".change_box3").css("display","none");
    		  $(".change_box6").css("display","block");
    		  $(".step_ul li:eq(2)").removeClass("active");
    		  $(".step_ul li:eq(3)").addClass("active");
    	    }else{
    		  $(".code_error").css("display","block");
    	    }
        })        
    }
    
    $(".nextStep3").click(function(){
    	checkCode();
    })
    
    $(".nextStep6").click(function(){
    	var reg=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/;
	    var b=document.getElementById("new_password1").value;
	    var c=document.getElementById("new_password2").value;
	    var a=reg.test(b);
	    
      	var data = {'password': b,'repeat_password': c};
    	console.log($("#new_password1").val())
    	$.post("{:U('FindPassword/telnumReplacementPassword')}",data,function(res){
    		if(res.status==1 && a==true){
    			$(".change_box6").css("display","none");
    		    $(".change_success").css("display","block");
    		    $(".step_ul li:eq(2)").removeClass("active");
    		    $(".step_ul li:eq(4)").addClass("active");
    		}
    		if(a==false){
    			$(".password_error1").css("display","block")
    		}
    		if(a==true && b!=c){
    			$(".password_error1").css("display","none");
    			$(".password_error2").css("display","block")
    		}
    	})
    })
    

//第三步——邮箱找回
   $(".get_code2").click(function(){
		var timer =60;
        var setTime;

         setTime=setInterval(function(){
                if(timer==0){
                	$(".get_code2").css("background-color","#fff").css("color","#FF6200").css("border","1px solid #FF6200");
		            $(".get_code2").text("重新获取");
                    clearInterval(setTime);
                    return;                   
                }
                timer--;
                $(".get_code2").text(timer+" s 后重新获取");
                $(".get_code2").css("background-color","#CCC").css("color","#666").css("border","1px solid #CCC");
            },1000);  
        
        $.post("{:U('FindPassword/sendEmail')}",function(res){
        	console.log(res);
            if(res.msg=="发送间隔为1分钟"){
            	alert("发送间隔为1分钟！");
            }
        })
        
	})
   
    function checkCode2(){
        var data = {'code': $("#checkcode2").val()};
        $.post("{:U('FindPassword/emailCodeCheck')}",data,function(res){
        	console.log(res.status)
            if(res.status==1){
    		  $(".change_box5").css("display","none");
    		  $(".change_box7").css("display","block");
    		  $(".step_ul li:eq(2)").removeClass("active");
    		  $(".step_ul li:eq(3)").addClass("active");
    	    }else{
    		  $(".code_error2").css("display","block");
    	    }
        })        
    }
    
    $(".nextStep5").click(function(){
    	checkCode2();
    })
    
    $(".nextStep7").click(function(){
    	var reg=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/;
	    var b=document.getElementById("new_password3").value;
	    var c=document.getElementById("new_password4").value;
	    var a=reg.test(b);
	    
    	var data = {'password': b,'repeat_password': c};
    	$.post("{:U('FindPassword/emailReplacementPassword')}",data,function(res){
    		if(res.status==1 && a==true){
    			$(".change_box7").css("display","none");
    		    $(".change_success").css("display","block");
    		    $(".step_ul li:eq(2)").removeClass("active");
    		    $(".step_ul li:eq(4)").addClass("active");
    		}
    		if(a==false){
    			$(".password_error1").css("display","block")
    		}
    		if(a==true && b!=c){
    			$(".password_error1").css("display","none");
    			$(".password_error2").css("display","block")
    		}
    	})
    })
 
//第三步——密保找回
    $(".nextStep4").click(function(){
    	var data = {'问题id1': $("#answer1").val(),'问题id2': $("#answer2").val(),'问题id3': $("#answer3").val()};
    	$.post("{:U('FindPassword/checkSecurity')}",data,function(res){
    		if(res.status==1){
    			$(".change_box4").css("display","none");
    		    $(".change_box8").css("display","block");
    		    $(".step_ul li:eq(2)").removeClass("active");
    		    $(".step_ul li:eq(3)").addClass("active");
    		}else{
    			alert(res.msg)
    		}
    	})
    })
    
    $(".nextStep8").click(function(){
    	var reg=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/;
	    var b=document.getElementById("new_password5").value;
	    var c=document.getElementById("new_password6").value;
	    var a=reg.test(b);
	    
    	var data = {'password': b,'repeat_password': c};
    	$.post("{:U('FindPassword/replacementPassword')}",data,function(res){
    		if(res.status==1 && a==true){
    			$(".change_box8").css("display","none");
    		    $(".change_success").css("display","block");
    		    $(".step_ul li:eq(2)").removeClass("active");
    		    $(".step_ul li:eq(4)").addClass("active");
    		}
    		if(a==false){
    			$(".password_error1").css("display","block")
    		}
    		if(a==true && b!=c){
    			$(".password_error1").css("display","none");
    			$(".password_error2").css("display","block")
    		}
    	})
    })
    

</script>
</html>