<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>牵手发展</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/liner.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/chyanxun/resear.css" />
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
	</head>
	<body>
	<div class="wrp">
			<!--顶部-->
			<include file="Public:header" />
			<!-- 顶部结束 -->
			<div class="mainWrap relative clearfix" style="margin-bottom: 30px;">
				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../rainbowResearch/research.html" class="navs-item">学本研训</a></li>
						<li><a href="../rainbowResearch/resources.html">教师资源</a></li>
						<li><a href="../rainbowResearch/subject.html">课题研究</a></li>
						<li><a href="../rainbowResearch/development.html">牵手发展</a></li>
					</ul>
				</section>
				<div class="detailContent clearfix">
					<div class="column_R">
						<div class="mainContent">
							<div class="introTit clearfix">
								<div class="introTitImg" style="background-image:url(__PUBLIC__/phone/images/small.jpg)"></div>
								<h2>牵手发展</h2>
							</div>
						</div>
					</div>
					<div class="content-wrap clearfix article_cn1">
						<div class="pageinfo">
							<div class="new_img">
								<ul class="ulles">
									<volist name="data" id="v">
									<li style="width:308px;height:277.5px;overflow:hidden">
										<a href="{:U('qsfazhan_content',array('id'=>$v['id'],'column_id'=>$v['column_id']))}">
											<img src="__ROOT__{$v['thumb']|substr=1}" alt="" width="308"  height="230"  />
											<br />
											<p style="">{$v['title']}</p>
										</a>
									</li>
									</volist>
								</ul>
						    </div> 
						</div>
						<div class="pageinfo1 cont_top">
							<p id="PageInfo" class="page">
								{$page}
						    </p>
						</div>
				    </div>
				</div>		
			</div>
				<!-- footer start -->
				<include file="Public:footer" />
				<!-- footer end -->
		</div>
		<script type="text/javascript" src="__PUBLIC__/phone/js/common.js" ></script>
	</body>
</html>