<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>校本研训</title>
		<link rel="stylesheet" href="../../css/Common/index.css" />
		<link rel="stylesheet" href="../../css/Common/rest.css" />
		<link rel="stylesheet" href="../../css/Common/common.css" />
		<link rel="stylesheet" href="../../css/Common/liner.css" />
		<link rel="stylesheet" href="../../css/rainbowResearch/resear.css" />
		<script type="text/javascript" src="../../js/jquery.js" ></script>
		<script type="text/javascript" src="../../js/myscript.js"></script>
        <script type="text/javascript" src="../../js/focus.js"></script>
	</head>
	<body>
	<div class="wrp">
			<!--顶部-->
			<include file="Public:header" />
			<!-- 顶部结束 -->
			<div class="mainWrap relative clearfix" style="margin-bottom: 30px;">
				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../rainbowResearch/research.html" class="navs-item">学本研训</a></li>
						<li><a href="../rainbowResearch/resources.html">教师资源</a></li>
						<li><a href="../rainbowResearch/subject.html">课题研究</a></li>
						<li><a href="../rainbowResearch/development.html">牵手发展</a></li>
					</ul>
				</section>
				<div class="detailContent clearfix">
					<div class="column_R">
						<div class="mainContent">
							<div class="introTit clearfix">
								<div class="introTitImg" style="background-image:url(../../img/small.jpg)"></div>
								<h2>校本研训</h2>
							</div>
						</div>
					</div>
					<div class="content-wrap clearfix">
						<div class="pageinfo">
							<div class="new_img">
								<ul class="ulles">
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163700_3906.jpg" alt="" width="308" />
											<br />
											<p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163721_3281.jpg" alt="" width="308" />
											<br>
										    <p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163753_1406.jpg" alt="" width="308" />
											<br />
											<p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163700_3906.jpg" alt="" width="308" />
											<br />
										    <p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163721_3281.jpg" alt="" width="308" />
											<br />
											<p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163753_1406.jpg" alt="" width="308"/>
											<br />
										    <p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163700_3906.jpg" alt="" width="308" />
											<br />
											<p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163721_3281.jpg" alt="" width="308" />
											<br />
										    <p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163753_1406.jpg" alt="" width="308" />
											<br />
											<p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163721_3281.jpg" alt="" width="308" />
											<br />
										    <p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163721_3281.jpg" alt="" width="308" />
											<br />
										    <p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../../img/hongqiaoGardener/20150804163721_3281.jpg" alt="" width="308" />
											<br />
										    <p style="text-align: center;font-size: 14px;">英语组听课通讯稿</p>
										</a>
									</li>
								</ul>
						    </div> 
						</div>
						<div class="pageinfo1">
							<p id="PageInfo" class="page">
							    <a href="../index.html">首页</a>
								<a href="#">上一页</a> 
								<a href="#" class="current">1</a> 
								<a href="#">下一页</a> 
						    </p>
						</div>
				    </div>
				</div>		
			</div>
				<!-- footer start -->
				<include file="Public:footer" />
				<!-- footer end -->
		</div>
		<script type="text/javascript" src="../../js/common.js" ></script>
	</body>
</html>
