<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>校本研训</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/liner.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/chyanxun/resear.css" />
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
	</head>
	<body>
	<div class="wrp">
						<!--顶部-->
			<include file="Public:header" />
			<!-- 顶部结束 -->
			<div class="mainWrap relative clearfix" style="margin-bottom: 30px;">
				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../rainbowResearch/research.html" class="navs-item">学本研训</a></li>
						<li><a href="../rainbowResearch/resources.html">教师资源</a></li>
						<li><a href="../rainbowResearch/subject.html">课题研究</a></li>
						<li><a href="../rainbowResearch/development.html">牵手发展</a></li>
					</ul>
				</section>
				<div class="detailContent clearfix">
					<div class="column_R">
						<div class="mainContent">
							<div class="introTit clearfix">
								<div class="introTitImg" style="background-image:url(__PUBLIC__/phone/images/small.jpg)"></div>
								<h2>校本研训</h2>
							</div>
						</div>
					</div>
					<div class="content-wrap clearfix article_cn1 cont_top">
						<div class="e22con ">
							<ul class="list2 mt25">
								<volist name="data" id="v">
								<li class="cultureNews">
									<a href="{:U('xbyanxun_content',array('id'=>$v['id'],'column_id'=>$v['column_id']))}"><em>{$v['updatetime']|date="Y-m-d",###}</em>{$v['title']}</a>
								</li>
								</volist>
							</ul>
							<p id="PageInfo" class="page">
							{$page}
							</p>
						</div>
				    </div>
				</div>		
			</div>
			<!--低部-->
			<include file="Public:footer" />
			<!-- 低部结束 -->
		</div>
		<script type="text/javascript" src="__PUBLIC__/phone/js/common.js" ></script>
	</body>
</html>