<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>校本研训</title>
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/Common/liner.css" />
		<link rel="stylesheet" href="__PUBLIC__/phone/css/chyanxun/resear.css" />
		<!-- ~~~手机端头部公共~~ -->
		<!-- <link rel="stylesheet" href="__PUBLIC__/phone/css/djshide/partyEthics.css" /> -->
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/phone/css/jquery.mobile-1.2.0.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/phone/css/master.css" />
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.mobile-1.2.0.js"></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/banner.js"></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/my_js.js"></script>
		<!--~~~~~~手机端头部公共结束~~~~  -->				
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
        <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
	</head>
	<body>
	<div class="wrp">
							<!-- header start -->
				<include file="Public:header" />
				<!-- header end -->
			<div class="mainWrap relative clearfix" style="margin-bottom: 30px;">
<!-- 				<section class="header-main">
					<ul class="navs clear">
						<span class="slider"></span>
						<li><a href="../hongqiaoGardener/administrative .html" class="navs-item">行政班子</a></li>
						<li><a href="../hongqiaoGardener/research.html">教研组</a></li>
						<li><a href="../hongqiaoGardener/elegant .html">教师风采</a></li>
					</ul>
				</section> -->
				<div class="detailContent clearfix">
					<div class="column_R">
						<div class="mainContent">
							<div class="introTit clearfix">
								<div class="introTitImg" style="background-image:url(__PUBLIC__/phone/images/small.jpg)"></div>
								<h2>校本研训</h2>
							</div>
						</div>
					</div>
					<div class="content-wrap clearfix article_cn1 cont_top">
						<div class="pageinfo ">
							<div class="new_img">
								<ul class="ull">
								     <volist name="img" id="v">
									<li>
										<a >
											<img src="__ROOT__{$v}" alt="" />
										</a>
									</li>
									</volist	>
								</ul>
						    </div> 
						</div>
						<div class="pageinfo1 cont_top">
							    	<p id="PageInfo" class="page">
									{$page} 
					    			</p>
						</div>

				    </div>
				</div>		
			</div>
				<!-- footer start -->
				<include file="Public:footer" />
				<!-- footer end -->
		</div>
		<script type="text/javascript" src="__PUBLIC__/phone/js/common.js" ></script>		
		<script type="text/javascript" src="__PUBLIC__/phone/js/jquery-1.11.2.min.js" ></script>
	</body>
</html>