@charset "UTF-8";
/* header-top */

.cover-top {
    min-width:1200px;
    background:#f0f0f0;
}
.jCover-top { 
    height:36px;   
}
.jCover-top .home-sign {
    padding-left:22px;
    background:url(../img/home_15x13.png) no-repeat left center;
}
.cover-top-body{
    line-height:36px;
}
.cover-top-f span,
.cover-top-f a {
    font-size:12px;
}
.cover-top-f span,
.home-sign,
.cover-top-list li,
.cover-top-list li a,
.cover-top-list li span {
    color:#8b8b8b;
}

.cover-top .wel-lp {
    padding-left:20px;
    background:url(../../Home/images/home.png) no-repeat;
}
.cover-top .wel-rp {

}
.cover-top-list li {
    float:left;
    margin-left:9px;
    position:relative;
}
.cover-top-list .ewm:hover div{width:97px;height:97px;background:url(../../Home/images/ewm.jpg) no-repeat;background-size:100%;position:absolute;top:36px;left:-22px;z-index:10;}
.cover-top-list .phone-sign {
    padding-left:18px;
    background:url("../img/p-sign_13x13.png") no-repeat left center;
}

/* header */
.header {
    padding:14px 0 15px 0;
}
.header .logo {
    display:block;
    width:150px;
    height:53px;
    background:url(../img/logo.png) no-repeat;
}
.header .logo-cont {
    display:inline-block;
    zoom:1;
    *display:inline;
    padding-left:14px;
    font-size:22px;
    letter-spacing:3px;
    background:url("../img/line_3x22.jpg") no-repeat left 5px;
}
.header-wrap .logo{
    width:100px;
    height:34px;
    background:url(../img/logo_100x34.png) no-repeat;
}
.header-links {
    margin-left:118px;
    margin-top:5px;
}
.header-links,
.header-links a {
    color:#fff;
}
.header-links a.cur {
    text-decoration: underline;
}
.header-seach-w-1 {
    margin-top:15px;
    width:454px;
}
.header-seach-card {
    position: absolute;
    top:-17px;
    left:-1px;
}
.header-seach-card a {
    display:block;
    float:left;
    width:43px;
    height:15px;
    color:#37a3a3;
    border:1px solid #a1d4d4;
    font-size:12px;
    line-height:15px;
    text-align:center;
 }
.header-seach-card a.cur {
    color:#ffffff;
    background:#37a3a3;
    border-color:#37a3a3;
}
.buyCar_butt {
    position: absolute;
    right:0;
    top:29px;
    padding-left:42px;
    width:99px;
    height:31px;
    line-height:31px;
    border:1px solid #818181;
}
.buyCar_butt:hover {
    border-color:#ff6600;
}
.buyCar_butt.icon-s-1 {
    background:url("../img/buyCar_26x23.png") no-repeat 7px center;
}
.icon-s-1 .icon-s-num-1 {
    display:block;
    position: absolute;
    left:17px;
    top:4px;
    width:15px;
    height:13px;
    line-height:12px;
    text-align:center;
    font-size:10px;
    color:#fff;
    font-family: Arial, sans-serif, Helvetica;
    background:  url("../img/buyCar-num_15x13.png") no-repeat;
}

.z-seach {
    border:1px solid #a5d5d5;
    width:514px;
    height:31px;
    position: relative;
    left:-52px;
}
.z-submit {
    display:block;
    position: absolute;
    right:-1px;
    top:-1px;
    width:85px;
    height:33px;
    line-height:30px;
    border:0 none;
}
.z-seach-hot a {
    display:inline-block;
    zoom:1;
    *display:inline;
    padding:2px 3px;
    font-size:12px;
    margin-right:5px;
}
.z-seach-hot a:hover{
    color:#37a3a3;
}
.z-seach-hot .active{color:#37a3a3;}
.z-submit.icon-btn-search {
    width:50px;
    padding-left:35px;
    background:url("../img/seach-sign_13x13.png") no-repeat 16px center #37a4a2;
    color:#ffffff;
    cursor:pointer;
}
.z-submit.icon-btn-search:hover {
    background-color:#298886;
}
.z-submit.s-butt-1 {
    width:60px;
    background-color:#ff6600;
    color:#ffffff;
    text-align:center;
}
.seach-box .z-seach {
    width:378px;
    border-color:#ff7a22
}
.seach-box .txt04.txt-style-1 {
    width:251px;
}
.z-seach-select {
    cursor: pointer;
    text-align:right;
    width:35px;
    border-right:1px solid #cccccc;
    padding-right:22px;
    height:30px;
    line-height:30px;
    background:url("../img/select-sign_10x5.png") no-repeat 40px center #eeeeee;
}
/* links */
.links {
    padding:29px;
}
