
<!DOCTYPE HTML>
<html>
<head>
<title>我的商城</title>
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/all-use.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/side-nav.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/sell-management.css">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/shopIndex.css">
<script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-1.10.2.min.js"></script>
<![endif]-->
<script type="text/javascript" src="{:C('STATIC_URL')}/js/ajaxPage.js"></script>
<style>
	#closeShop{position: relative;left: 50%;top: -39px;transform: translateX(-50%);z-index: -100;}
</style>
</head>
<body >
<!-- 头部_顶部start -->
<include file="MemberPublic:header_top" /> 
<!-- 头部_顶部end --> 
<!-- 头部_搜索栏start -->
<include file="MemberPublic:header_search" /> 
<!-- 头部_搜索栏end -->
<div class="bodyer">
    <img id="closeShop" src="{:C('STATIC_URL')}/Home/images/closeShop.jpg" />
</div>
<!-- 底部 -->
<include file="Public:footer" />
<!-- 底部 -->    
<script>
    
    
</script>
</body>
</html>