<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>e橙优品-必读通知</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/editorCss.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/newsDetail.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/js/validate.js"></script>
 <script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!-- www.orangesha.com Baidu tongji analytics -->

<style>
 body{ background-color: #fff;}    
 .info-box table{border-collapse: collapse;}
 .info-box table td{ border: 1px solid #666;}
</style>
</head>
<body>
<!-- 头部 -->
    
    <include file="Public:header_top" />
    <div class="register public">
        <div class="header-logo">
            <a href="http://www.orangesha.com"><div class="logo"></div></a>
            <div class="text"></div>
        </div>
        <!-- 主体 -->
        <div class="contain">
            <div class="contain-box">
            	<h1>e橙优品开放平台经营类目资费一览表</h1>
            	<div class="info-box">
            		  <h2>技术服务费 </h2>
				         <table>
				         	<tr>
				         		<td style="width: 12%;">E橙优品经营大类</td>
				         		<td style="width: 12%;">一级类目</td>
				         		<td>技术服务费费率</td>
				         		<td>技术服务费年费</td>
				         		<td>二级类目</td>
				         		<td>技术服务费费率</td>
				         		<td>三级类目</td>
				         		<td>技术服务费费率</td>
				         		<td>返30%技术服务年费对应年销售额（元）</td>
				         		<td>返50%技术服务年费对应年销售额（元）</td>
				         	</tr>
				         	<tr>
				         		<td>工业机器人</td>
				         		<td>
				         			<ul>
				         				<li>码垛机器</li>
				         				<li>包装机器</li>
				         				<li>通通用机</li>
				         				<li>自动化流</li>
				         				<li>智能物流</li>
				         				<li>激光装备 </li>
				         				<li>智能服务</li>
				         				<li>自动引导</li>
				         			</ul>
				         		</td>
				         		<td>5%</td>
				         		<td>8000元</td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         	</tr>
				         	<tr>
				         		<td>工业无人机</td>
				         		<td>
				         			<ul>
				         				<li>航拍无人</li>
				         				<li>测绘无人</li>
				         				<li>热像仪</li>
				         				<li>农林无人</li>
				         				<li>安防无人</li>
				         				<li>电力巡检 </li>
				         				<li>运输无人</li>
				         			</ul>
				         		</td>
				         		<td>8%</td>
				         		<td>5000元</td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         	</tr>
				         	<tr>
				         		<td>数控机床</td>
				         		<td>
				         			<ul>
				         				<li>数控钻床</li>
				         				<li>数控车床</li>
				         				<li>数控铣床</li>
				         				<li>数控磨床</li>
				         				<li>数控镗铣</li>
				         				<li>五轴联动</li>
				         				<li>高速加工</li>
				         			</ul>
				         		</td>
				         		<td>5%</td>
				         		<td>8000元</td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         	</tr>
				         	<tr>
				         		<td>工业3D打印机</td>
				         		<td>
				         			<ul>
				         				<li>光固化</li>
				         				<li>三维印刷</li>
				         				<li>三维激光</li>
				         				<li>激光烧结</li>
				         				<li>金属打印</li>
				         				<li>熔融沉积 </li>
				         			</ul>
				         		</td>
				         		<td>6%</td>
				         		<td>6000元</td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         		<td></td>
				         	</tr>
				         </table>
				         <h2>开店入住平台费 </h2>
				         <p>（一）品牌旗舰店、专卖店:带有TM商标的5万元，全部为R商标的2万元；</p>
				         <p>（二）专营店： 带有TM商标的8万元，全部为R商标的5万元； </p>
				         <p>（2017年5月30日前免收）</p>
				         <h2>平台保证金</h2>   
				         <p>1、 旗舰店，保证金为5万元；  （2017年5月30前免收）</p>
				         <p>2、 专营店，保证金为10 万元；（2017年5月30前免收）</p>
				         <h2>技术服务年费</h2>
				         <p>2017年12月30前免收</p>     		
            	</div>
            </div>
        </div>
    </div>
    <!-- 公共底部 -->
    <include file="Public:footer" />   
</body>

</html>
