<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>e橙优品-必读通知</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/editorCss.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/newsDetail.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/js/validate.js"></script>
 <script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!-- www.orangesha.com Baidu tongji analytics -->

<style>
 body{ background-color: #fff;}    
 .info-box table{border-collapse: collapse;}
 .info-box table td{ border: 1px solid #666;}
</style>
</head>
<body>
<!-- 头部 -->
    
    <include file="Public:header_top" />
    <div class="register public">
        <div class="header-logo">
            <a href="http://www.orangesha.com"><div class="logo"></div></a>
            <div class="text"></div>
        </div>
        <!-- 主体 -->
        <div class="contain">
            <div class="contain-box">
            	<h1>e橙优品卖家开店规则</h1>
            	<div class="info-box">
				         <h4>一、商城名词 </h4>
				         <p>E橙优品商城：指由深圳市橙橙网络科技有限公司提供技术支持和服务的电子商务平台网站，网址为 www.orangesha.com；</p>
				         <p>开放平台(POP)：E橙优品商城为第三方卖家提供的交易平台,是E橙优品商城网上交易平台的一部分；</p>
				         <p>商家：符合E橙优品商城的要求，并与E橙优品商城签订相关合作协议，使用开放平台出售商品的企业；</p>
				         <p>产品：E橙优品商城建立的产品库中存有的产品信息， 每件产品会有多个商家销售；</p>
				         <p>商品：商家放入自己店铺中的产品称之为商品；</p>
				         <p>买家：在E橙优品商城购物的E橙优品会员；</p>
				         <p>商铺：商家在开放平台开设的网上店铺，商家不得以任何形式擅自转让或授权他人使用店铺名，并对利用该店铺名所进行的一切活动负全部责任；商家在使用E橙优品商城交易平台进行交易过程中的所有行为应遵守国家法律、法规和E橙优品商城的规则、流程及相关规定；</p>
				       <h4>二、商品发布 </h4>
				         <p>所有商家可以通过开放平台发布商品，但是不得发布违法、违规商品信息。商家必须严格按照本规则规定来发布商品信息，若由于违反本规则发布商品信息而引起的法律责任由商家来完全承担，与E橙优品商城无关。一旦E橙优品商城发现有任何违反本规则的商品信息，有权立即删除，并保留对商家进行处罚直至终止合作的权利。</p>
				         <b>（一）、商品发布要素说明：</b>
				         <p>1.商品标题</p>
				         <p>2.商品图片</p>
				         <p>清晰美观的图片对促进交易起着重要作用，商品都需要添加图片展示。Banner图片规格为：980*250像素、Logo图片规格为180*60、商品描述图片规格宽度为700像素，分辨率均为72像素。</p>
				         <p>3.商品描述</p>
				         <p>商品描述，是向买家展示商品的各项特征和属性，详实的商品描述对于能否成功出售商品起着至关重要的作用。</p>
				         <p>商品描述应对商品外观、颜色、尺寸、成份、含量、质量、包装、保修、保质期、产地、功能、用途等商品属性进行说明，这将有助于买家更全面地了解商品属性。任何为吸引买家而使用的夸大描述、不实描述、以及指向其他网站商品说明链接取代描述都是无效的。</p>
				         <p>4.商品价格</p>
				         <p>市场价格是指商品在线下市场的售卖参考价格；E橙优品商城价格是指商品在E橙优品商城的实际售卖价格。商家需正确合理设置商品的相应价格，不得夸大扭曲，违背市场规律和所属行业标准。</p>
				         <p>5.商品数量</p>
				         <p>商品数量分为单品数量即SKU数量和单品库存数量。店铺在售商品数量最少不低于10件，单品库存数量不能为0。</p>
				         <p>备注：</p>
				         <p>单品数量即SKU数量，指同一品牌中产品型号的数量。此数量不能少于10件。</p>
				         <p>单品库存数量，指单个型号产品的库存数量。此数量不能为0个。</p>
				         <p>6.商品类目</p>
				         <p>店铺在售所有商品的类目必须与E橙优品商城平台系统保持一致。</p>
				         <b>（二）、商品发布相关规则：</b>
				         <p>1.E橙优品商城有权禁止商家发布有违E橙优品商城相关规定的商品信息。</p>
				         <p>2.商家在E橙优品商城发布的所有商品必须符合中华人民共和国相关法律、法规。</p>
				         <p>3.商家必须按照商家与E橙优品商城签订合同中约定的“经营范围”在E橙优品商城发布商品。</p>
				         <p>4.商家不得发布假货、翻新货、水货、旧货、二手货等有违“正品保证”的商品信息。</p>
				         <p>5.未经正式书面授权（指定年限内无授权书），商家的商品信息不得带有任何品牌LOGO及可能侵权的相关信息。</p>
				         <p>6.商家不得在店铺内发布涉及批发、招商、代理，广告、海报等形式的广告信息。</p>
				         <p>7.商家不得发布与商品描述不符、无实际商品、仅提供发布者联系方式以及非商品信息的商品。</p>
				         <p>8.商家不得在E橙优品店铺发布诱导买家去其他网站交易的链接信息。</p>
				         <p>9.商家不得在店铺在售商品的商品图片、商品描述、商品标题等信息中带有实体店铺地址、联系方式、联系人等信息。</p>
				         <p>10.商品属性与发布商品所选择的商品类目或属性必须一致。</p>
				         <p>11.店铺展示的商品图片中必须有原始实物图片、照片，不得使用刻意加工修饰后的非原始实物图片。</p>
				         <p>12.完全相同或重要属性完全相同的商品，只能发布一次。</p>
				         <p>13.商家必须对店铺所售商品的图片及文字描述信息加以完善并提供。</p>
				         <p>14.商家不得发布盗版，侵权，假冒以及国家其他有规定不准销售的图书。</p>
				       <h4>三、商家销售行为管理规则</h4>
				         <p>本规则规定了E橙优品商城商家的销售行为，包括售前服务、售中服务、备货要求、发货要求、支付方式，如违反此规定，将受到E橙优品商城的相关处罚。</p>
				         <b>1、售前服务</b>
				         <p>a)商家在E橙优品商城的经营过程中，在以下时间必须提供实时在线服务。周一至周五9：00－18：00； </p>
				         <p>b)商家在上述时间段：买家咨询后，商家必需进行及时、有效且耐心的回复，为买家解决有关商品咨询方面的所有问题。</p>
				         <p>c)商家不得对买家提出的咨询问题不回答或拖延回答时间。</p>
				         <p>d)商家不得对买家的咨询表现出不耐烦。</p>
				         <p>e)商家不得对咨询、购买的买家进行任何形式的言语侮辱行为。</p>
				         <p>f)商家不得发布任何信息诱导或被买家诱导在E橙优品商城以外的网站达成交易。</p>
				         <b>2、售中服务</b>
				         <p>a)商家须在买家下订单之前，核定电子仓库与实体仓库是否有货。</p>
				         <p>b)商家确定实体仓库有现货后方可告知买家下订单。</p>
				         <p>c)商家须在买家下订单完成后，安排仓库备货。</p>
				         <b>3、备货要求</b>
				         <p>a)商家在接到买家在线订单后，须及时处理并安排仓库备货。</p>
				         <p>b)商家在E橙优品商城店铺中发布的单项商品必须备有充分现货库存，至少不低于10件；</p>
				         <p>c)如买家经咨询并在E橙优品商城店铺下单购买商家商品之后，商家出现缺货，不能在商家承诺时间给买家发货，商家将受到E橙优品商城的相关处罚。</p>
				         <b>4、发货要求</b>
				         <p>a)订单交易成交后，商家不得以任何非正当理由，拒绝或延迟时间向买家发货。</p>
				         <p>b)对于促销的商品，商家不得以任何非正当理由，拒绝或延迟时间向买家发货。</p>
				         <p>c)对于商家促销的商品，不得以买家所在地偏远、运费较高等为理由，拒绝或延迟时间向买家发货。</p>
				         <p>d)订单交易成交后，商家遇交通运输管制、大雨雪、地震等不可抗力因素而影响发货，商家必须向买家做出相应的公示。</p>
				         <p>e)订单交易成交后，商家必须按照订单中所购商品完成发货，不得发任何与订单商品无关的虚假物品来冒充。</p>
				         <b>5、支付方式</b>
				         <p>a)商家必须接受E橙优品商城许可的支付方式作为唯一支付方式，不能诱导买家或者被买家诱导，在E橙优品商城以外的网站达成交易，不能使用非E橙优品商城提供的支付方式进行支付。</p>
				         <p>b)先款后货：买家先付款， 商家再发货。具体支付方式线下银行转账</p>
				       <h4>四、E橙优品卖家自主售后系统规则</h4>
				         <p>1、本规则适用于所有使用E橙优品在线自主售后系统的第三方卖家；第三方卖家是指依据相关协议入驻E橙优品，并在E橙优品（www.orangesha.com）进行商品或服务展示及销售活动的法人、其他组织。</p>
				         <p>2、第三方卖家应当配备专业的客服团队（或人员）使用E橙优品在线自主售后系统处理来自E橙优品客户的问题，包括但不限于商品的退货、换货、维修等售后服务内容。</p>
				         <p>3、第三方卖家以及第三方卖家所配备的客服团队（或人员）应按照商品的保修承诺及E橙优品售后服务政策为来自E橙优品的客户提供相应的售后服务；如第三方卖家自己的售后服务政策更有利于客户，则应按更有利于客户的政策提供售后服务。</p>
				         <p>4. 第三方卖家应当保证其客服团队（或人员）每周一至每周五，早上九点整至晚上六点整处于自主售后系统在线的状态，并且应满足以下响应时限：</p>
				         <p>a）从客户在线提交售后服务申请，到在系统中给出相应的审核意见，应在48小时之内完成；</p>
				         <p>b）为客户提供换货、退款等售后服务的，卖家应于收到客户退回的货物后48小时内明确为客户提供的售后服务；</p>
				         <p>c)为客户提供换货、直赔商品、不符合退换货要求返还商品的售后服务，卖家应在自主售后系统中作出相应处理操作后的36小时内发货；</p>
				         <p>d）为客户提供维修服务的，需卖家上门维修的，卖家应于系统处理客户提交的售后服务申请后的7日完成；卖家需收到货物后再提供维修服务的，卖家应于收到客户退回的货物后30日内完成维修服务；</p>
				         <p>e） 由于卖家原因或商品质量等原因，卖家与客户达成赔偿或补偿方案的，卖家应承担赔偿/补偿中产生的全部费用。如卖家与客户达成的赔偿金或补偿金由E橙优品先行垫付的，卖家应自E橙优品通知之日起5日内向E橙优品支付相应款项，逾期未支付的E橙优品有权自应结算的货款或保证金中扣除。</p>
				         <p>5. 第三方卖家以及第三方卖家所配备的客服团队在回复客户售后服务问题时要做到以下要求：</p>
				         <p>a）不得违反国家法律法规的规定、第三方卖家与E橙优品合同的约定以及E橙优品开放平台对第三方卖家的管理规定；</p>
				         <p>b）不得诋毁E橙优品品牌形象或者E橙优品平台上其它任何第三方卖家、品牌、产品的形象；</p>
				         <p>c）不得泄露E橙优品的任何商业机密，包括但不限于第三方卖家与E橙优品签订合同以及合作过程中所获知的与E橙优品相关的决策、计划、技术、数据、操作流程等；</p>
				         <p>d）不得将E橙优品客户推荐给E橙优品以外的网络店铺、实体商店以及其它的销售平台。不得向E橙优品客户透露E橙优品以外的网络店铺、实体商店以及其它销售平台的联系方式等信息；</p>
				         <p>e）在为E橙优品客户提供售后服务时，不得体现任何与售后服务无关的内容；</p>
				         <p>f）与E橙优品客户沟通时应当使用规范的用语，不得出现反动、色情和暴力的字句；不得诽谤、骚扰、跟踪、威胁、诋毁、谩骂客户以及使用任何引起客户不满的字句或以其他方式侵犯客户的合法权益；</p>
				         <p>g）不得向E橙优品客户做出任何不实承诺，包括但不限于商品本身属性、发票以及配送、返修、退货等服务环节，不得欺诈、误导客户，不得制作虚假身份误导客户。</p>
				         <p>6. 第三方卖家应对发生在自主售后服务系统中的所有行为负完全责任，应妥善保管系统的帐号、个人信息及相关密码。对于因未经授权的人员使用第三方卖家的自主售后服务系统而可能造成的任何损失，均将由第三方卖家自行承担，如果E橙优品为此先行承担了相关责任，则第三方卖家同意赔偿E橙优品因此而支出的所有费用及 损失。</p>
				         <p>7. 对于因第三方卖家以及第三方卖家所配备的客服团队（或人员）未能按照本规则第4条规定的时限性和规范性要求为客户提供售后服务的，E橙优品有权要求卖家承担以下责任:</p>
				         <p>a）E橙优品有权关闭卖家自主售后系统，并扣除第三方卖家积分</p>
				         <p>b）如因此给E橙优品及客户带来损失的，卖家应承担全部的赔偿责任；E橙优品以先行赔付的方式为客户解决相应问题的，E橙优品有权向卖家追偿。</p>
				         <p>8. 卖家收到E橙优品发出的投诉处理通知（包括但不限于电话、邮件）后48小时内应为客户提供售后服务。如仍未按本条时限解决或无法为客户解决的处理方式：</p>
				         <p>卖家仍未按照本条规定时限或方式为客户办理售后服务的，E橙优品有权为客户直接参与售后服务，因此发生的服务费用、客户要求的合理损失赔偿均由卖家承担；</p>
				         <p>9. E橙优品有权根据实际情况不时修订本规则的内容，并将按照与第三方卖家的协议约定进行通知，本规则作为E橙优品第三方卖家管理规则中的一部分，也同时是E橙优品与第三方卖家签署协议的有效组成部分，具同等法律效力。</p>
				       <h4>五、E橙优品开放平台子域名管理规则</h4>
				         <p>卖家通过E橙优品开放平台商家系统（ www.orangesha.com，以下简称“商家系统”）可申请E橙优品子域名，申请成功后在卖家店铺服务期间可免费使用。卖家在使用应用前，应仔细阅读本规则，并同意受本规则约束。</p>
				         <b>1、域名定义</b>
				         <p>E橙优品子域名是指卖家在遵守本规则的前提下，根据其个性化需求及推广需要在“orangesha.com”的二级域名下为其店铺申请的子域名，其展现形式如“******.orangesha.com”，“******”为卖家依据本规则自行设定的内容，本规则中简称为“子域名”。</p>
				         <b>2、域名申请</b>
				         <p>2.1申请子域名的卖家需符合如下条件：</p>
				         <p>入驻E橙优品的卖家；</p>
				         <p>已通过商家系统开通申请子域名服务；</p>
				         <p>子域名申请符合本规则要求。</p>
				         <p>2.2 子域名不得使用国家或者地区名称、外国地名、国际组织名称、行政区划名称的全称或者缩写；</p>
				         <p>不得使用行业名称或者商品的通用名称（如fuzhuang.orangesha.com）；不得违反法律法规的规定及国家政策的相关内容；不得侵犯他人包括知识产权在内的各项合法权益；不得申请域名开展不正当竞争等违法违规行为；不得违反E橙优品开放平台公示的各项规则及服务政策，不得损害E橙优品及其关联公司的合法权益。否则，E橙优品有权随时暂停卖家使用子域名服务。</p>
				         <p>2.3 申请规范</p>
				         <table>
				         	<tr>
				         		<td>店铺类型</td>
				         		<td>命名规则</td>
				         		<td>二级域名规范</td>
				         		<td>实例</td>
				         	</tr>
				         	<tr>
				         		<td>旗舰店</td>
				         		<td>品牌名+（类目名）+官方旗舰店/旗舰店</td>
				         		<td>可申请其经营品牌注册商标相应的英文名或中文名全拼</td>
				         		<td rowspan="2">如“友佳精密机械专营店”可申请youjia.Orangesha.com/feeler.orangesha.com。特别提示：专营店店铺名称中不得含有经营商品的品牌名称或他人已注册商标的名称</td>
				         	</tr>
				         	<tr>
				         		<td>专营店</td>
				         		<td>企业商号+类目名+专营店</td>
				         		<td>商号全拼或首字母+类目全拼或首字母</td>
				         	</tr>
				         </table>
				         <p>1)根据店铺类型的不同，商家可申请子域名，具体规范如下：</p>
				         <p>2)子域名使用须与店铺名称相符合，店铺名称详情规定请见《E橙优品开放平台卖家店铺命名规则》；本规则中所有术语，除非另有说明，否则定义与《E橙优品开放平台卖家店铺命名规则》中定义相同；</p>
				         <p>3)子域名的字符数应大于等于5位且小于20位，域名由字母（A-Z，a－z，大小写等价）、数字（0－9）、连接符（－）或汉字组成，并且“-”不能出现在域名的首部或尾部。</p>
				         <b>3、域名审核及修改</b>
				         <p>子域名申请后E橙优品有权随时抽查审核，申请后5个工作日域名生效；子域名不得重复，如两个店铺同时申请则依照申请在先原则开通；子域名申请成功后不能修改，店铺资质不符合平台约定或存在侵权情形除外。</p>
				         <b>4、域名的所有权及使用保留</b>
				         <p>E橙优品所有子域名归E橙优品所有；</p>
				         <p>卖家通过子域名申请仅获得通过该域名跳转至其E橙优品开放平台店铺的使用权，并不意味着域名权属的变更；</p>
				         <p>E橙优品对于已经使用或将来可能使用的E橙优品子域名享有绝对的所有权和使用权。任何卖家已经申请成功并使用的子域名如果与E橙优品自身的用途相冲突，E橙优品有权立即停止卖家对该子域名的使用；</p>
				         <p>卖家对子域名的使用权不得出租、出借或以其他任何形式对外转让；</p>
				         <p>E橙优品与卖家的合作终止的，卖家对该子域名的使用权亦随之终止。</p>
				         <b>5、免责声明</b>
				         <p>因卖家申请及使用E橙优品子域名违反国家法律、法规、国家政策或侵犯他人合法权益（包括但不限于知识产权）的，卖家应当独立承担全部法律责任，因此导致E橙优品及其关联公司利益受损的，卖家应当全额赔偿。</p>
				       <h4>六、E橙优品商家入驻协议</h4>
				         <b>1.入驻系统使用说明</b>
				         <p>1.1 商家通过入驻系统提出入驻申请，并按照要求填写商家信息、提供商家资质资料后，由本网站审 核并与有合作意向的商家联系协商合作相关事宜，经双方协商一致线下签订书面《开放平台供应商合作运营协议》（以下简称“运营协议”），且商家按照“运营协议”约定支付相应平台使用费及保证金等必要费用后，商家正式入驻本网站。本网站将为入驻商家开通商家后台系统，商家可通过商家后台系统在本网站运营自己的入驻店铺。</p>
				         <p>1.2 商家以及本网站通过入驻系统做出的申请、资料提交及确认等各类沟通，仅为双方合作的意向以及本网站对商家资格审核的必备程序，除遵守本协议各项约定外，对双方不产生法律约束力。双方间最终合作事宜及运营规则均以“运营协议”的约定及商家后台系统公示的各项规则为准。</p>
				         <b>2.商家权利义务</b>
				         <p>2.1 商家应查看本网站公示的入驻商家标准，并确保资质符合本网站公示的基本要求，商家知悉并理解本网站将结合自身业务发展情况对商家进行选择。</p>
				         <p>2.2 商家应按照本网站要求诚信提供入驻申请所需资料并如实填写相关信息，商家应确保提供的申请资料及信息真实、准确、完整、合法有效，经本网站审核通过后，商家不得擅自修改替换相应资料及主要信息。如商家提供的申请资料及信息不合法、不真实、不准确的，商家需承担因此引起的相应责任及后果，并且本网站有权立即终止商家使用入驻系统的权利。</p>
				         <p>2.3 商家使用入驻系统提交的所有内容应不含有木马等软件病毒、政治宣传、或其他任何形式的“垃圾信息”、违法信息，且商家应按本网站规则使用入驻系统，不得从事影响或可能影响本网站或入驻系统正常运营的行为，否则，本网站有权清除前述内容，并有权立即终止商家使用入驻系统的权利。</p>
				         <p>2.4 商家应注意查看入驻系统公示的入驻申请结果，如审核通过的商家，则按照本网站工作人员的通知按要求办理入驻的相关手续；如审批未通过的商家，则可自本网站通过入驻系统将审批结果告知商家（需商家登陆入驻系统查看）之日起 15 日内提出异议并提供相应资料，如审批仍未通过的，则商家同意提交的申请资料及信息本网站无需返还，由本网站自行处理。</p>
				         <p>2.5 商家不得以任何形式擅自转让或授权他人使用自己在本网站的用户帐号使用入驻系统，否则由此产生的不利后果均由商家自行承担。</p>
				         <b>3.本网站权利义务</b>
				         <p>3.1 本网站开发的入驻系统仅为商家申请入驻的平台，商家正式入驻后，将在商家后台系统中运营本网站的入驻店铺。</p>
				         <p>3.2 本网站有权对商家提供的资料及信息进行审核，并有权结合自身业务情况对合作商家进行选择；本网站对商家提交资料及信息的审核均不代表本网站对审核内容的真实、合法、准确、完整性作出的确认，商家应对提供资料及信息承担相应的法律责任。</p>
				         <p>3.3 无论商家是否通过本网站的审核，本网站有权对商家提供的资料及信息予以留存并随时查阅，同时，本网站有义务对商家提供的资料予以保密，但国家行政机关、司法机关等国家机构调取资料的除外。</p>
				         <b>4.信息安全</b>
				         <p>4.1 本网站会尽力维护本系统信息的安全，但法律规定的不可抗力，以及因为黑客入侵、计算机病毒侵入发作等原因造成商家资料泄露、丢失、被盗用、被篡改的，本网站不承担任何责任。</p>
				         <p>4.2 本网站应在现有技术支持的基础上确保入驻系统的正常运营，尽量避免入驻系统服务的中断给商家带来的不便。</p>
				         <b>5.知识产权</b>
				         <p>5.1 本网站开发的入驻系统及其包含的各类信息的知识产权归本网站所有者所有，受国家法律保护,本网站有权不时地对入驻系统的内容进行修改，并在入驻系统中公示，无须另行通知商家。</p>
				         <p>5.2 在法律允许的最大限度范围内，本网站所有者对本协议及入驻系统涉及的内容拥有解释权。</p>
				         <p>5.3 商家未经本网站所有者书面许可，不得擅自使用、非法全部或部分的复制、转载、抓取入驻系统中的信息，否则由此给本网站造成的损失，商家应予以全部赔偿。</p>
				         <b>6.入驻系统服务的终止</b>
				         <p>6.1 商家自行终止入驻申请，或商家经本网站审批未通过的，则入驻系统服务自行终止。</p>
				         <p>6.2 商家使用本网站或入驻系统时，如违反相关法律法规或者违反本协议规定的，本网站有权随时终止商家使用入驻系统。</p>
				         <p>7.本协议的修改</p>
				         <p>本协议可由本网站随时修订，并将修订后的协议公告于本网站及入驻系统，修订后的条款内容自公告时起生效，并成为本协议的一部分。</p>
				         <b>8.法律适用与争议解决</b>
				         <p>8.1 本协议适用中华人民共和国法律。</p>
				         <p>8.2 因本协议产生的任何争议，由双方协商解决，协商不成的，任何一方有权向有管辖权的中华人民共和国大陆地区法院提起诉讼。</p>
				       <h4>七、E橙优品开放平台招商标准</h4>
				         <p>本标准适用于E橙优品开放平台所有卖家。</p>
				         <b>第一章 入驻</b>
				         <p>1.1    E橙优品开放平台暂未授权任何机构进行代理招商服务，入驻申请流程及相关的收费说明均以E橙优品开放平台官方招商页面为准。</p>
				         <p>1.2    入住平台公司成立必须2年及以上，注册资金100万及以上，需具有一般纳税人资格；</p>
				         <p>1.3    E橙优品开放平台有权在申请入驻及后续经营阶段要求卖家提供其他资质。</p>
				         <p>1.4    E橙优品开放平台将结合各行业发展动态、国家相关规定及消费者购买需求，不定期更新招商标准。</p>
				         <p>1.5    卖家必须如实提供资料和信息：</p>
				         <p>1.5.1 请务必确保申请入驻及后续经营阶段提供的相关资质和信息的真实性、完整性、有效性（若卖家提供的相关资质为第三方提供，包括但不限于商标注册证、授权书等，请务必先行核实文件的真实有效完整性），一旦发现虚假资质或信息的，E橙优品开放平台将不再与卖家进行合作并有权根据E橙优品开放平台规则及与卖家签署的相关协议之约定进行处理；</p>
				         <p>1.5.2  卖家应如实提供其店铺运营的主体及相关信息，包括但不限于店铺实际经营主体、代理运营公司等信息；</p>
				         <p>1.5.3  E橙优品开放平台关于卖家信息和资料变更有相关规定的从其规定，但卖家如变更1.5.2项所列信息，应提前十日书面告知E橙优品；如未提前告知E橙优品，E橙优品将根据E橙优品开放平台规则进行处理。</p>
				         <p>1.6    E橙优品开放平台暂不接受个体工商户的入驻申请，卖家须为正式注册企业，亦暂时不接受非中国大陆注册企业的入驻申请。</p>
				         <p>1.7    E橙优品开放平台暂不接受未取得国家商标总局颁发的商标注册证或商标受理通知书的品牌开店申请，亦不接受纯图形类商标的入驻申请。卖家提供商标受理通知书（TM状态商标）的，注册申请时间须满六个月。</p>
				         <b>第二章 E橙优品店铺类型及相关要求</b>
				         <p>2.1     旗舰店，入驻E橙优品开放平台开设店铺所经营的产品必须有注册商标，卖家以自有品牌（商标为R或TM状态），或由权利人出具的在E橙优品开放平台开设品牌旗舰店的授权文件（授权文件中应明确排他性、不可撤销性）。</p>
				         <p>2.1.1  旗舰店，可以有以下几种情形：</p>
				         <p>经营一个自有品牌（商标为R或TM状态）商品入驻E橙优品开放平台的卖家旗舰店，（自有品牌是指商标权利归卖家所有，自有品牌的子品牌可以放入旗舰店，主、子品牌的商标权利人应为同一实际控制人）；</p>
				         <p>经营已获得明确排他性授权的一个品牌商品入驻E橙优品开放平台的卖家旗舰店；</p>
				         <p>卖场型品牌（服务类商标）商标权人开设的旗舰店；</p>
				         <p>2.1.2  开店主体必须是品牌（商标）权利人或持有权利人出具的开设E橙优品开放平台旗舰店排他性授权文件的被授权企业。</p>
				         <p>2.1.3   品牌（商标）权利人出具的授权文件不应有地域限制。</p>
				         <p>2.2    专营店，经营E橙优品开放平台相同一级经营类目下两个及以上他人或自有品牌（商标为R或TM状态）商品的店铺。</p>
				         <p>2.2.1  专营店，可以有以下几种情形：</p>
				         <p>相同一级类目下经营两个及以上他人品牌商品入驻E橙优品开放平台的卖家专营店；</p>
				         <p>相同一级类目下既经营他人品牌商品又经营自有品牌商品入驻E橙优品开放平台的卖家专营店。</p>
				         <p>2.3    各类型店铺命名详细说明，请见《E橙优品开放平台卖家店铺命名规则》。</p>
				         <b>第三章 开店入驻限制</b>
				         <p>3.1    品牌入驻限制：</p>
				         <p>3.1.1 与E橙优品平台已有的自有品牌、频道、业务、类目等相同或相似名称的品牌；</p>
				         <p>3.1.2  包含行业名称或通用名称的品牌；</p>
				         <p>3.1.3  包含知名人士、地名的品牌；</p>
				         <p>3.1.4  与知名品牌相同或近似的品牌。</p>
				         <p>3.2     经营类目限制，卖家开店所经营的类目应当符合E橙优品开放平台的相关标准，详细请参考《E橙优品开放平台经营类目资费一览表》。</p>
				         <p>3.3同一主体入驻的店铺限制：</p>
				         <p>3.3.1  单个店铺只可对应一种经营模式。各经营模式内容请参考与卖家签署的对应合同；</p>
				         <p>3.3.2  同一主体开设若干店铺的，经营模式总计不得超过两种，且须在开展第二种经营模式时提前10日向E橙优品进行书面申请；</p>
				         <p>3.3.3  商品重合度：要求店铺间经营的品牌及商品不得重复，4.3.2项下经过E橙优品审批的店铺不受此项约束。</p>
				         <p>3.4     同一主体重新入驻E橙优品开放平台限制： </p>
				         <p>3.4.1  严重违规、资质造假被E橙优品清退的，永久限制入驻；</p>
				         <p>3.4.2  若卖家一自然年内主动退出2次，则自最后一次完成退出之日起12个月内限制入驻。</p>
				         <p>3.5     续签限制：须在每年3月1日18时之前完成续签申请的提交，每年3月20日18时之前完成平台使用费的缴纳，如果上一年及下一年资费及资料未补足，E橙优品将在每年3月31日24时终止店铺服务并下架商品。</p>
				         <b>第四章 E橙优品开放平台保证金/平台使用费/费率标准</b>
				         <p>4.1     保证金：卖家向E橙优品缴纳的用以保证店铺规范运营及对商品和服务质量进行担保的金额。当卖家发生违约、违规行为时，E橙优品可以依照与卖家签署的协议中相关约定及E橙优品开放平台规则扣除相应金额的保证金作为违约金或给予买家的赔偿。</p>
				         <p>4.1.1  保证金的补足、退还、扣除等依据卖家签署的相关协议及E橙优品开放平台规则约定办理；</p>
				         <p>4.1.2  E橙优品开放平台各经营类目对应的保证金标准详见《E橙优品开放平台经营类目资费一览表》。</p>
				         <p>4.2     平台使用费：卖家依照与E橙优品签署的相关协议使用E橙优品开放平台各项服务时缴纳的固定技术服务费用。E橙优品开放平台各经营类目对应的平台使用费标准详见《E橙优品开放平台经营类目资费一览表》。续签卖家的续展服务期间对应平台使用费须在每年3月20日18时前一次性缴纳；新签卖家须在申请入驻获得批准时一次性缴纳相应服务期间的平台使用费。</p>
				         <p>4.2.1   平台使用费结算：</p>
				         <p>4.2.1.1卖家主动要求停止店铺服务的不返还平台使用费；</p>
				         <p>4.2.1.2卖家因违规行为或资质造假被清退的不返还平台使用费；</p>
				         <p>4.2.1.3每个店铺的平台使用费依据相应的服务期计算并缴纳。服务开通之日在每月的1日至15日（含）间的，开通当月按一个月收取平台使用费，服务开通之日在每月的16日（含）至月底最后一日间的，开通当月不收取平台使用费；</p>
				         <p>4.2.1.4拥有独立店铺ID的为一个店铺，若卖家根据经营情况须开通多个店铺的，须按照店铺数量缴纳相应的平台使用费。</p>
				         <p>4.3     费率：卖家根据经营类目在达成每一单交易时按比例（该比例在与卖家签署的相关协议中称为“技术服务费费率”）向E橙优品缴纳的费用。E橙优品开放平台各经营模式各经营类目对应的费率标准详见《E橙优品开放平台经营类目资费一览表》。</p>
				         <b>第五章 店铺服务期</b>
				         <p>5.1     卖家每个店铺的服务周期以协议书时间为周期，除非店铺或与卖家签署的相关协议提前终止。</p>
				         <p>5.2     卖家每个店铺的服务开通之日以E橙优品通知或系统记录的时间为准。</p>
				         <p>5.3     卖家应在店铺每个服务期届满前30日向甲方提出续展的申请，缴纳续展服务期的平台使用费和提交其经营所需的全部有效资质，并经E橙优品审核。</p>
				         <p>5.4     卖家未提出续展申请或申请未通过E橙优品审核的，自店铺服务期满之日起，E橙优品开放平台将不再向卖家提供该店铺的任何服务。</p>
				         <p>发布日期：2016年11月30日</p>
				         <p>生效日期：2016年11月30日</p>
				              		
            	</div>
            </div>
        </div>
    </div>
    <!-- 公共底部 -->
    <include file="Public:footer" />   
</body>

</html>
