<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>e橙优品-必读通知</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/editorCss.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/newsDetail.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/js/validate.js"></script>
 <script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!-- www.orangesha.com Baidu tongji analytics -->

<style>
 body{ background-color: #fff;}    
 .info-box table{border-collapse: collapse;}
 .info-box table td{ border: 1px solid #666;}
</style>
</head>
<body>
<!-- 头部 -->
    
    <include file="Public:header_top" />
    <div class="register public">
        <div class="header-logo">
            <a href="http://www.orangesha.com"><div class="logo"></div></a>
            <div class="text"></div>
        </div>
        <!-- 主体 -->
        <div class="contain">
            <div class="contain-box">
            	<h1>e橙优品开放平台招商标准</h1>
            	<div class="info-box">
				      <p>本标准适用于E橙优品开放平台所有卖家。</p>
				        <h4>第一章 入驻</h4>
				           <p>1.1    E橙优品开放平台暂未授权任何机构进行代理招商服务，入驻申请流程及相关的收费说明均以E橙优品开放平台官方招商页面为准。</p>
				           <p>1.2    入住平台公司成立必须2年及以上，注册资金100万及以上，需具有一般纳税人资格；</p>
				           <p>1.3    E橙优品开放平台有权在申请入驻及后续经营阶段要求卖家提供其他资质。</p>
				           <p>1.4    E橙优品开放平台将结合各行业发展动态、国家相关规定及消费者购买需求，不定期更新招商标准。</p>
				           <p>1.5    卖家必须如实提供资料和信息：</p>
				           <p>1.5.1 请务必确保申请入驻及后续经营阶段提供的相关资质和信息的真实性、完整性、有效性（若卖家提供的相关资质为第三方提供，包括但不限于商标注册证、授权书等，请务必先行核实文件的真实有效完整性），一旦发现虚假资质或信息的，E橙优品开放平台将不再与卖家进行合作并有权根据E橙优品开放平台规则及与卖家签署的相关协议之约定进行处理；</p>
				           <p>1.5.2  卖家应如实提供其店铺运营的主体及相关信息，包括但不限于店铺实际经营主体、代理运营公司等信息；</p>
				           <p>1.5.3  E橙优品开放平台关于卖家信息和资料变更有相关规定的从其规定，但卖家如变更1.5.2项所列信息，应提前十日书面告知E橙优品；如未提前告知E橙优品，E橙优品将根据E橙优品开放平台规则进行处理。</p>
				           <p>1.6    E橙优品开放平台暂不接受个体工商户的入驻申请，卖家须为正式注册企业，亦暂时不接受非中国大陆注册企业的入驻申请。</p>
				           <p>1.7    E橙优品开放平台暂不接受未取得国家商标总局颁发的商标注册证或商标受理通知书的品牌开店申请，亦不接受纯图形类商标的入驻申请。卖家提供商标受理通知书（TM状态商标）的，注册申请时间须满六个月。</p>
				        <h4>第二章 E橙优品店铺类型及相关要求</h4>
				           <p>2.1     旗舰店，入驻E橙优品开放平台开设店铺所经营的产品必须有注册商标，卖家以自有品牌（商标为R或TM状态），或由权利人出具的在E橙优品开放平台开设品牌旗舰店的授权文件（授权文件中应明确排他性、不可撤销性）。</p>
				           <p>2.1.1  旗舰店，可以有以下几种情形：</p>
				                <p>经营一个自有品牌（商标为R或TM状态）商品入驻E橙优品开放平台的卖家旗舰店，（自有品牌是指商标权利归卖家所有，自有品牌的子品牌可以放入旗舰店，主、子品牌的商标权利人应为同一实际控制人）；</p>
				                <p>经营已获得明确排他性授权的一个品牌商品入驻E橙优品开放平台的卖家旗舰店；</p>
				                <p>卖场型品牌（服务类商标）商标权人开设的旗舰店；</p>
				           <p>2.1.2  开店主体必须是品牌（商标）权利人或持有权利人出具的开设E橙优品开放平台旗舰店排他性授权文件的被授权企业。</p>
				           <p>2.1.3   品牌（商标）权利人出具的授权文件不应有地域限制。</p>
				           <p>2.2    专营店，经营E橙优品开放平台相同一级经营类目下两个及以上他人或自有品牌（商标为R或TM状态）商品的店铺。</p>
				           <p>2.2.1  专营店，可以有以下几种情形：</p>
				           <p>相同一级类目下经营两个及以上他人品牌商品入驻E橙优品开放平台的卖家专营店；</p>
				           <p>相同一级类目下既经营他人品牌商品又经营自有品牌商品入驻E橙优品开放平台的卖家专营店。</p>
				           <p>2.3    各类型店铺命名详细说明，请见《E橙优品开放平台卖家店铺命名规则》。</p>
				        <h4>第三章 开店入驻限制</h4>
				           <p>3.1    品牌入驻限制：</p>
				           <p>3.1.1 与E橙优品平台已有的自有品牌、频道、业务、类目等相同或相似名称的品牌；</p>
				           <p>3.1.2  包含行业名称或通用名称的品牌；</p>
				           <p>3.1.3  包含知名人士、地名的品牌；</p>
				           <p>3.1.4  与知名品牌相同或近似的品牌。</p>
				           <p>3.2     经营类目限制，卖家开店所经营的类目应当符合E橙优品开放平台的相关标准，详细请参考《E橙优品开放平台经营类目资费一览表》。</p>
				           <p>3.3同一主体入驻的店铺限制：</p>
				           <p>3.3.1  单个店铺只可对应一种经营模式。各经营模式内容请参考与卖家签署的对应合同；</p>
				           <p>3.3.2  同一主体开设若干店铺的，经营模式总计不得超过两种，且须在开展第二种经营模式时提前10日向E橙优品进行书面申请；</p>
				           <p>3.3.3  商品重合度：要求店铺间经营的品牌及商品不得重复，4.3.2项下经过E橙优品审批的店铺不受此项约束。</p>
				           <p>3.4     同一主体重新入驻E橙优品开放平台限制：</p>
				           <p>3.4.1  严重违规、资质造假被E橙优品清退的，永久限制入驻；</p>
				           <p>3.4.2  若卖家一自然年内主动退出2次，则自最后一次完成退出之日起12个月内限制入驻。</p>
				           <p>3.5     续签限制：须在每年3月1日18时之前完成续签申请的提交，每年3月20日18时之前完成平台使用费的缴纳，如果上一年及下一年资费及资料未补足，E橙优品将在每年3月31日24时终止店铺服务并下架商品。</p>
				        <h4>第四章 E橙优品开放平台保证金/平台使用费/费率标准</h4>
				           <p>4.1     保证金：卖家向E橙优品缴纳的用以保证店铺规范运营及对商品和服务质量进行担保的金额。当卖家发生违约、违规行为时，E橙优品可以依照与卖家签署的协议中相关约定及E橙优品开放平台规则扣除相应金额的保证金作为违约金或给予买家的赔偿。</p>
				           <p>4.1.1  保证金的补足、退还、扣除等依据卖家签署的相关协议及E橙优品开放平台规则约定办理；</p>
				           <p>4.1.2  E橙优品开放平台各经营类目对应的保证金标准详见《E橙优品开放平台经营类目资费一览表》。</p>
				           <p>4.2     平台使用费：卖家依照与E橙优品签署的相关协议使用E橙优品开放平台各项服务时缴纳的固定技术服务费用。E橙优品开放平台各经营类目对应的平台使用费标准详见《E橙优品开放平台经营类目资费一览表》。续签卖家的续展服务期间对应平台使用费须在每年3月20日18时前一次性缴纳；新签卖家须在申请入驻获得批准时一次性缴纳相应服务期间的平台使用费。</p>
				           <p>4.2.1   平台使用费结算：</p>
				           <p>4.2.1.1卖家主动要求停止店铺服务的不返还平台使用费；</p>
				           <p>4.2.1.2卖家因违规行为或资质造假被清退的不返还平台使用费；</p>
				           <p>4.2.1.3每个店铺的平台使用费依据相应的服务期计算并缴纳。服务开通之日在每月的1日至15日（含）间的，开通当月按一个月收取平台使用费，服务开通之日在每月的16日（含）至月底最后一日间的，开通当月不收取平台使用费；</p>
				           <p>4.2.1.4拥有独立店铺ID的为一个店铺，若卖家根据经营情况须开通多个店铺的，须按照店铺数量缴纳相应的平台使用费。</p>
				           <p>4.3     费率：卖家根据经营类目在达成每一单交易时按比例（该比例在与卖家签署的相关协议中称为“技术服务费费率”）向E橙优品缴纳的费用。E橙优品开放平台各经营模式各经营类目对应的费率标准详见《E橙优品开放平台经营类目资费一览表》。</p>
				        <h4>第五章 店铺服务期</h4>
				           <p>5.1     卖家每个店铺的服务周期以协议书时间为周期，除非店铺或与卖家签署的相关协议提前终止。</p>
				           <p>5.2     卖家每个店铺的服务开通之日以E橙优品通知或系统记录的时间为准。</p>
				           <p>5.3     卖家应在店铺每个服务期届满前30日向甲方提出续展的申请，缴纳续展服务期的平台使用费和提交其经营所需的全部有效资质，并经E橙优品审核。</p>
				           <p>5.4     卖家未提出续展申请或申请未通过E橙优品审核的，自店铺服务期满之日起，E橙优品开放平台将不再向卖家提供该店铺的任何服务。</p>
				          <p>发布日期：2016年11月30日</p>
				          <p>生效日期：2016年11月30日</p>   
				              		
            	</div>
            </div>
        </div>
    </div>
    <!-- 公共底部 -->
    <include file="Public:footer" />   
</body>

</html>
