<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>e橙优品-必读通知</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/editorCss.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/newsDetail.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/js/validate.js"></script>
 <script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!-- www.orangesha.com Baidu tongji analytics -->

<style>
 body{ background-color: #fff;}    
 .info-box table{border-collapse: collapse;}
 .info-box table td{ border: 1px solid #666;}
</style>
</head>
<body>
<!-- 头部 -->
    
    <include file="Public:header_top" />
    <div class="register public">
        <div class="header-logo">
            <a href="http://www.orangesha.com"><div class="logo"></div></a>
            <div class="text"></div>
        </div>
        <!-- 主体 -->
        <div class="contain">
            <div class="contain-box">
            	<h1>e橙优品卖家开店规则</h1>
            	<div class="info-box">
				      <b>卖家入驻流程介绍</b> 
			            <p>1.1 在线阅读E橙优品商城入住标准后，可以选择在线申请入住。</p>
			            <p>1.2 E橙优品商城客服会在收到申请后1-3天内与你联系，核实申请条件，7个工作日给出审核结果。</p>
			            <p>2.2卖家信息提交</p>
			            <p>2.2.1 提交公司经营信息提交公司目前经营状态的基本信息，包括公司基本信息、经营规模、相关联系人等信息。</p>
			            <p>2.2.2 提交入驻预经营信息提交入驻公司期望在E橙优品商城经营的店铺名称、经营类目、经营品牌、二级域名等信息。</p>
			            <p>2.2.3提交公司资质信息提交入驻公司完善的公司资质及资质电子版，包括公司营业执照信息、组织机构代码证、一般纳税人证明（均需加盖企业公章并保证图片清晰）。</p>
			            <p>2.2.4 提交公司财务及税务信息提交公司财务及税务资质及资质电子版，包括开户银行许可证及税务登记证（均需加盖企业公章并保证图片清晰）。</p>
			            <p>2.2.5 上传产品资质提交公司所经营品牌对应的资质及电子版，包括品牌资质及品牌对应的产品资质（均需加盖企业公章并保证图片清晰）。</p>
			            <p>2.2.6 提交信息等待资质审核提交以上提交的信息，等待E橙优品商城审核结果，审核通过后客服会第一时间电话通知你，继续安排合同事宜。会在系统中进行提示，请及时登录系统查看。</p>
			            <p>2.3 合同签订</p>
			            <p>2.3.1 客服人员会与您联系确认合作细节事宜，合作关键信息（包括保证金、平台使用费、入住费用等）待卖家确认，如确认合同信息无误后，客服人员会寄出合同文件。</p>
			            <p>2.3.2卖家收到合同文件后，确认合同细节并签字盖章，同时按照要求提示寄回E橙优品商城所要求的各类纸质资质文件（均需加盖企业公章并保证内容清晰可辨），收到卖家寄回的合同资料后，E橙优品商城工作人员会尽快进行复审，审核通过后，即可进入缴费环节。</p>
			            <p>2.4卖家缴费</p>
			            <p>2.4.1卖家缴费卖家根据系统提示进行费用交纳。</p>
			            <p>2.4.2提交缴费回执单卖家缴费完成后，提交相应的缴费回执单电子版，以便E橙优品商城工作人员进行财务确认。</p>
			            <p>2.5店铺开通</p>
			            <p>2.5.1开通店铺缴费确认无误后，E橙优品商城工作人员会开通卖家店铺并寄回合同供卖家留存。</p>
			            <p>2.5.2卖家登陆店铺开通店铺后，卖家登陆入驻系统后，即可进入卖家后台进行相关运营操作。</p>
            	</div>
            </div>
        </div>
    </div>
    <!-- 公共底部 -->
    <include file="Public:footer" />   
</body>

</html>
