<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes" />
<title>长沙高新区虹桥小学</title>
<meta name="keywords" content="" />
<meta name="description" content=""/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/phone/css/jquery.mobile-1.2.0.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/phone/css/master.css" />
<script type="text/javascript" src="__PUBLIC__/phone/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.mobile-1.2.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/phone/js/banner.js"></script>
<script type="text/javascript" src="__PUBLIC__/phone/js/my_js.js"></script>

    <!-- <link rel="stylesheet" href="__PUBLIC__/phone/css/Common/index.css" /> -->
    <!-- <link rel="stylesheet" href="__PUBLIC__/phone/css/Common/rest.css" /> -->
    <!-- <link rel="stylesheet" href="__PUBLIC__/phone/css/index/same.css" /> -->
    <script type="text/javascript" src="__PUBLIC__/phone/js/myscript.js"></script>
    <script type="text/javascript" src="__PUBLIC__/phone/js/focus.js"></script>
<script type="text/javascript" src="__PUBLIC__/phone/js/jquery.SuperSlide.js"></script>

</head>
<body>
<div data-role="page" data-theme="a">
<!--~~~~~~ header start~~~~~~~ -->
<include file="Public:header" />
<!--~~~~~header end~~~~~~~~~~~~~ -->
<!-- 主体内容开始 -->
<div data-role="content" class="content">
          <div class="about">
                    <div class="title ui-bar-f ui-grid-a"><span class="ui-block-a">学校简介</span><span class="ui-block-b more_i"><a href="about.asp" data-role="button" data-inline="true"></a></span></div>
                    <ul class="ui-grid-a aboutcon">
                      <li class="ui-block-a"><img src="__ROOT__{$data['19'][0]['thumb']|substr=1}" width="90%" /></li>
                             <span class="fontsize">{$data['19'][0]['content']|html_entity_decode|strip_tags}</span>
                    </ul>
          </div>


          <!-- ~~~~~校园一景开始~~~ -->
          <div class="product  ">
                  <div class="title ui-bar-f ui-grid-a"><span class="ui-block-a">校园一景</span><span class="ui-block-b more_i"><a href="product.asp" data-role="button" data-inline="true"></a></span>
                  </div>
    
                  <div class="new_img">
                          <ul class="ull">
                                <volist name="data['20']" id="v">
                                <li>
                                      <img src="__ROOT__{$v['thumb']|substr=1}" alt="" />
                                      <p style="text-align: center;">{$v['title']}</p>
                                </li>
                                </volist>
                          </ul>
                  </div>
          </div>
          <!--~~~~~~~~~~~ 校园一景结束~~~~~~~~~~ -->


          <!-- ~~~~荣誉广脚开始~~~~ -->
          <div class="rongyuguangjiao">
                  <div class="title ui-bar-f ui-grid-a"><span class="ui-block-a">荣誉广角</span><span class="ui-block-b more_i"><a href="product.asp" data-role="button" data-inline="true"></a></span>
                  </div>
    
                  <div class="new_img">
                          <ul class="ull">
                                <volist name="data['21']" id="v">
                                <li>
                                      <img src="__ROOT__{$v['thumb']|substr=1}" alt="" />
                                      <p style="text-align: center;font-size:0.8rem">{$v['title']}</p>
                                </li>
                                </volist>
                          </ul>
                  </div>
          </div>
          <!-- 荣誉广脚结束                                   -->

             <!-- 学校公告 -->
          <div class="news product">
                  <div class="title ui-bar-f ui-grid-a">
                        <span class="ui-block-a">校长寄语</span>
                        <span class="ui-block-b more_i">
                             <a href="news.asp" data-role="button" data-inline="true"></a>
                        </span>
                  </div>
                  <ul class="newsul" data-role="listview">
                        <volist name="data['38']" id="v">
                				<li>
                                            <a href="{:U('xzjiyu_content',array('id'=>$v['id'],'column_id'=>$v['column_id']))}" title="{$v['title']}" data-ajax="false">
                                                    <span class="fl">{$v['title']}</span> 
                                                    <span class="fr">{$v['updatetime']|date="Y-m-d",###}</span>
                                            </a>
                                      </li>                      
                        </volist>      
                   </ul>
          </div>
          <!-- 学校公告结束                                 -->
                                    
</div>          
<!--~~~~~~~~~~主体内容结束 ~~~~~~~-->
<!--~~~~ 尾部开始~~~~ -->
        <include file="Public:footer"/>
<!-- ~~~~~~尾部结束~~~~~~~~~ -->
</div>
<!-- ~~~~~~~~~~~最外层盒子结束~~~~~~~~~~~~~~~~ -->
</body>
</html>