#Handle{width:100%;height:auto;float:left;margin-top:10px}
#Handle a{display:block;width:80px;height:30px;line-height:30px;text-align:center;float:left;background:#C43926;margin-left:5px;border-radius:4px;color:white;font-size:14px;}
#Handle button{display:block;width:80px;height:30px;line-height:30px;text-align:center;float:left;background:#C43926;margin-left:5px;border-radius:4px;color:white;font-size:14px;border:0}
#Handle p{width:auto;height:30px;line-height:30px;float:left;margin-left:5px;font-size:14px;}
#Handle input{width:16px;height:16px;float:left;margin-top:7px}