.page{
	width:96%;
	height:auto;
	float:left;
	margin-top:10px;
	background:white;
	margin-left:2%
}

.page ul{
	width:auto;
	float:left;
	height:auto;
	border:1px solid #DDDDDD;
	border-radius:4px;
}

.page ul select{
	width:auto;
	height:28px;
	float:left;
	margin-left:6px;
	margin-right:6px;
	margin-top:2px;
	border-radius:4px
}

.page ul input{
	width:40px;
	height:32px;
	border:0;
	float:left;
	border-left:1px solid #DDDDDD;
}

.page ul a{
	display:block;
	width:auto;
	height:32px;
	float:left;
	padding:0 7px 0 7px;
	line-height:32px;
	border-left:1px solid #DDDDDD;
	color:#99999C;
	font-size:1.4rem
}

.page ul a:hover{
	background:pink;
	color:white
}

.page ul .now{
	background:pink;
	color:white
}

.page ul p.total{
	width:auto;
	height:32px;
	float:left;
	line-height:32px;
	font-size:1.4rem
}