<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>e橙优品-新闻资讯</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="{:C('STATIC_URL')}/Home/css/register.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/agreement.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/js/validate.js"></script>
<!-- www.orangesha.com Baidu tongji analytics -->
 <script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
</head>
<body>
<!-- 头部 -->
    <div class="register public">
        <div class="header-top">
            <div>您好，欢迎您来到e橙优品智能装备<a href="{:U('Member/login')}" class="login">    请登录    </a><a href="#"> 免费注册 </a></div>  
        </div>
        <div class="header-logo">
            <a href="{:U('Index/index')}"><div class="logo"></div></a>
            <div class="text">新闻资讯</div>
        </div>
        <!-- 主体 -->
        <div class="contain">
            <div class="contain-box">
            	<h1>新闻资讯</h1>
            	<div class="info-box">
            		         		
            	</div>
            </div>
            <button id="closeThis"  onclick="window.close();">关闭本页</button>
        </div>
    </div>
    <!-- 公共底部 -->
    <include file="Public:footer" />
    
</body>
</html>

