<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务保障</title>
    <link href="cssReset.css" rel="stylesheet">
    <style>
        .service-guarantee{width: 908px;padding:20px;}
        .service-guarantee p{ line-height: 30px;}
        .service-guarantee p span{font-weight: bold;}
        .service-guarantee>div>img{}
    </style>
</head>
<body>
    <div class="service-guarantee">
    	<div><img src="{:C('STATIC_URL')}/Home/image/租转售.jpg"></div>
        <p>租赁正常流程是：设备放租方负责设备运输到客户指定的“安装地点”，设备抵达“安装地点”后的卸载，搬运和保险由承租方负责，承租方负责保管设备送货时的运输包装材料，以确保设备返还时能重复利用该运输包装材料。</p>
        <p>为确保设备的顺利安装、调试、拆装，设备放租方负责设备在客户指定“安装地点”的安装和调试，客户应给予必要的协助。</p>
        <p>本平台客服人员会尽力协调放租方和设备租赁方，最终确定安调费/拆装费/运输费等，并最终撮合签订租赁协议。</p>                  
        <p><b>注：</b>因放租方会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本平台不能确保客户收到的货物与商城图片、产地、附件说明完全一致，只能确保为原厂正货！并且保证与当时市场上同样主流的商品一致，若本商城没有及时更新，请大家谅解！</p>                       
    </div>
</body>
</html>