<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>会员</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/shopIndex.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/css/style.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/shop.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/css/zzsc.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-2.0.3.min.js"></script>
<script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<script src="/Public/layer/layer.js"></script> 
<script src="/Public/js/navshop.js"></script> 


<style>
.header_div{ float: left; border-left: 1px solid #E2E2E2; margin-top: 20px; padding-left: 10px; max-width: 125px;}
.header_div:first-of-type{max-width: 180px; margin-right:17px; margin-left: 164px; }
.header_div:nth-of-type(2){min-width: 132px;}
.header_div>p{ color: #000; font-weight: bold; line-height: 6px; margin-bottom: 7px;}
.header_div>div{padding: 0px 4px; width: 58px; background-color: #FF812D; color: #fff; border-radius: 4px;text-align:center}
.header_div>ul{ overflow: hidden;line-height: 15px; margin-bottom: 2px;}
.header_div>ul li{ float: left; text-align: center; width: 28px; color: #999;}	
</style>
</head>
<body>
<include file="Public:header_top" />
<include file="Public:shop_headSearch" />
<div class="shop">
    <div class="header">
        <div class="header-inner">
        <img src="/Public/img/image1/orange.png" class="shop-logo">    
            <div class="shop-title">
                <h1>e橙优品智能装备分享</h1>
                国内最大的智能装备分享平台
            </div>
			<!--
            <ul class="youhui">
            	<li><img src="/Public/Home/image/优惠卷01.png"></li>
            	<li><img src="/Public/Home/image/优惠卷02.png"></li>
            	<li><img src="/Public/Home/image/优惠卷03.png"></li>
            </ul>
			-->
            <!--<ul class="header_button">
            	<li title="{$seller_id}" onclick="collectshop(this)"><button style="background: url('/Public/Home/image/收藏本店.png') no-repeat 8px 2px;">收藏本店</button></li>
            	<li  title="{$seller_id}" onclick="relation(this)"><button style="background: url('/Public/Home/image/联系卖家.png') no-repeat 8px 2px;">联系卖家</button></li>
            </ul>-->
        </div>
        <a href="#" title="{$seller_id}" onclick="collectshop(this)" class="myshop" style="background: url('/Public/Home/image/收藏本店.png') no-repeat 6px 2px;">收藏本店</a>
        <a href="#" title="{$uinfo.qq}" onclick="relation(this)" class="seller" style="background: url('/Public/Home/image/联系卖家.png') no-repeat 6px 2px;">联系卖家</a>
    </div>	
<include file="Public:shopnav" /> 			
      <!--内容-->
      <div>{$content}</div>
    
</div>

<!-- 底部 -->
<include file="Public:footer" />

<script>

			var shop_css = "{$shop_css}";	
          	var banner = "{$banner}";						        	          		
			$('.navwrap').css('background','#'+shop_css);
			$('.pros').css('background','#'+shop_css);
			
			var shop_status = "{$shop_status}";
			var shop_name = "{$shop_data.shop_name}";
			var shop_desc = "{$shop_data.desc}";
			var shop_thumb = "{$shop_data.thumb|substr=1}";
		  
			if( shop_status==1 ){
			 
			   $('.header-inner').find('img').attr('src',shop_thumb);
			   $(' .shop-title').html('<h1>'+shop_name+'</h1>'+shop_desc+'');			
			   $('.conpanyname').find('p').html(shop_name);
			}
	
function collectshop(obj){
  var title = $(obj).attr('title');
  if( title ){
		$.post("{:U('Shop/shopcllect')}",{'title':title},function(data){
				if( data.msg=='ok'){
				  alert('收藏该店铺成功！');
				}else if(data.msg=='onemore'){
				  alert('您已经收藏过该店铺了！');
				}else if(data.msg=='nologin'){
				  alert('你还没登录哦！');
				}else{  
				  alert('收藏该店铺失败！');
				}
		});  
  }else{
        alert('店铺不存在！');
  }

}	
		
function relation(obj){
  var title = parseInt($(obj).attr('title'));
  if( title >0){     
    window.location.href="tencent://message/?uin="+title+"&Site=sc.chinaz.com&Menu=yes";
		
  }else{
        alert('卖家还没有填写qq！');
  }

}
</script>
<script type="text/javascript" src="{:C('STATIC_URL')}/js/zzsc.js"></script>
<!-- /底部 -->
</body>
</html>