<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="keywords" content="工业机器人租赁，智能装备租赁，智能装备分享，工业智能机器人交易，e橙优品">
<meta name="description" content="e橙优品专注于解决国内智能设备空闲问题，对接供给方和需求方，为万千中小企业解决设备和融资问题。我们是智能装备行业的专业电商平台，需求方、供给方、融资租赁公司三赢的B2B交易平台。">
<meta name="copyright" content="深圳市橙橙网络科技有限公司(www.orangesha.com)版权所有">
<meta name="author" content="e橙优品"> 
<title>e 橙优品智能装备分享平台-专业智能装备分享平台-工业智能装备租赁平台</title>
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/list.css" type="text/css">
<link href="{:C('STATIC_URL')}/css/zzsc.css" rel="stylesheet" type="text/css" />
<link href="{:C('STATIC_URL')}/Home/css/shop.css" rel="stylesheet">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="stylesheet" href="{:C('STATIC_URL')}/css/style.css" type="text/css">
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-2.0.3.min.js"></script>
<script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/js/jquery-1.10.2.min.js"></script>
<![endif]-->
<script src="/Public/js/navshop.js"></script> 
<link rel="shortcut icon" href="/Public/Home/images/ee.ico" type="image/x-icon">
<style>
p.text{padding:0 0;}
.header_div{ float: left; border-left: 1px solid #E2E2E2; margin-top: 20px; padding-left: 10px; max-width: 125px;}
.header_div:first-of-type{max-width: 180px; margin-right:17px; margin-left: 164px; }
.header_div:nth-of-type(2){min-width: 132px;}
.header_div>p{ color: #000; font-weight: bold; line-height: 6px; margin-bottom: 7px;}
.header_div>div{padding: 0px 4px; width: 58px; background-color: #FF812D; color: #fff; border-radius: 4px;text-align:center}
.header_div>ul{ overflow: hidden;line-height: 15px; margin-bottom: 2px;}
.header_div>ul li{ float: left; text-align: center; width: 28px; color: #999;}
</style>    
</head>
<body >
<include file="Public:header_top" />
<include file="Public:shop_headSearch" />
<div class="shop">
    <div class="header">
        <div class="header-inner">
            <img src="/Public/img/image1/orange.png" class="shop-logo">    
            <div class="shop-title">
                <h1>e橙优品智能装备分享</h1>
                国内最大的智能装备分享平台
            </div>
        </div>
        <a href="#" title="{$seller_id}" onclick="collectshop(this)" class="myshop" style="background: url('/Public/Home/image/收藏本店.png') no-repeat 6px 2px;">收藏本店</a>
        <a href="#" title="{$uinfo.qq}" onclick="relation(this)" class="seller" style="background: url('/Public/Home/image/联系卖家.png') no-repeat 6px 2px;">联系卖家</a>
    </div>
<include file="Public:shopnav" />
    <div class="list">
        <div class="list-header">
            <span>
            <a href="{:U('Index/index')}">首页</a> > 
            <a> {$crumb}</a>
            <span class="header-right">共 {$count}件相关商品</span></span>
        </div>
		<!--
        <div class="recommended fl">
            <div class="type-list">
                <h2><span></span>{$crumb[0][1]}</h2>
                <ul>
               
                </ul>
            </div>
            <div class="info-right">

            </div>
        </div>
		-->
        <div class="right-list fl">
          
            <!-- 商品列表 -->
            <ul class="good-list clearfix">
                <volist name="goods" id="v">      
                <li>
                    <div class="good-box">
                        <a href="{:U('Mall_goods/goods',array('goods_id'=>$v['id']))}">
                        <img class="good-icon" src="__ROOT__{$v['goods_thumb']|substr=1}" alt="商品">
                        </a>
                        <div class="contain">
                            <div class="row-price">￥{$v['goods_price']} 万
                            <span class="closing">月成交 {$v['sale_num']} 笔</span></div>
                            <div class="title"><a href="{:U('Mall_goods/goods',array('goods_id'=>$v['id']))}">{$v['goods_name']}</a></div>
                            <div class="shop-name">大疆官方旗舰店<span class="rated">评价 <span>20</span></span></div>
                            <div class="shop-icon">
                                <if condition="$v['is_renzheng'] eq '1'">
                                    <img src="{:C('STATIC_URL')}/Home/images/renzheng.png" alt="">
                                </if>
                                <if condition="$v['safest'] neq ''">
                                    <img src="{:C('STATIC_URL')}/Home/image/safest.png" alt="">
                                </if>
                            </div>
                        </div>
                    </div>
                </li>
                </volist>
            </ul>
            <!-- 商品列表结束 -->
            <div class="section-bt">
               {$html}
            </div>
        </div>
    </div>
    
	<script type="text/javascript" src="{:C('STATIC_URL')}/js/zzsc.js"></script>
    <!-- 底部 -->
    <include file="Public:footer" />
    <!-- /底部 -->
</div>
</body>
<script>
var paramer_arr = {$paramers};
    paramer_arr['p'] = 1;
/*价格地址*/
var price = (function(){  
    $(".price_a").click(function(){
    	var price = $(this).attr('data-price');
    	paramer_arr['price'] = price;
    	window.location.href = getUrl(paramer_arr);
    });

	$(".price_btn").click(function(){
	    var price_1 = $(this).prev('input').prev('input').val(),
	        price_1 = parseInt(price_1) > 0 ? parseInt(price_1) : 0,
	        price_2 = $(this).prev('input').val(),
	        price_2 = parseInt(price_2) > 0 ? parseInt(price_2) : 'max',
	        price   = price_1 + '-' + price_2;   
	    paramer_arr['price'] = price;   
	    window.location.href = getUrl(paramer_arr);
	});    
})();

function getUrl(paramer_arr){
    var paramer = '';
    for(var k in paramer_arr){

        paramer+='&'+ k + '=' + paramer_arr[k];
    }
    paramer = paramer.substring(1);
    return "{:U('goodsList')}" + '?' + paramer;
}

function GetRequest() {   
   var url = location.search; //获取url中"?"符后的字串   
   var theRequest = new Object();   
   if (url.indexOf("?") != -1) {   
      var str = url.substr(1);   
      strs = str.split("&");   
      for(var i = 0; i < strs.length; i ++) {   
         theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);   
      }   
   }   
   console.log(location.host);
   return theRequest;   
} 

$(".go").click(function(){
	var val = $(".go_number").val();
	paramer_arr['p'] = parseInt(val) > 0 ? parseInt(val) : 1;
	window.location.href = getUrl( paramer_arr);
})

function relation(obj){
  var title = parseInt($(obj).attr('title'));
  if( title >0){     
    window.location.href="tencent://message/?uin="+title+"&Site=sc.chinaz.com&Menu=yes";
		
  }else{
        alert('卖家还没有填写qq！');
  }

}


var shop_css = "{$shop_css}";		
$('.navwrap').css('background','#'+shop_css);
$('.pros').css('background','#'+shop_css);

	        var shop_status = "{$shop_status}";
			var shop_name = "{$shop_data.shop_name}";
			var shop_desc = "{$shop_data.desc}";
			var shop_thumb = "{$shop_data.thumb|substr=1}";
		  
			if( shop_status==1 ){
			 
			   $('.header-inner').find('img').attr('src',shop_thumb);
			   $(' .shop-title').html('<h1>'+shop_name+'</h1>'+shop_desc+'');			
			   $('.conpanyname').find('p').html(shop_name);
			}
</script>
</html>
