<!DOCTYPE HTML>
<html>
<head>
<title>账号安全-修改绑定手机</title>
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/css.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/changePhone.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-1.10.2.min.js"></script>
<![endif]-->
</head>
<body >
<!-- 头部_顶部start -->
<include file="MemberPublic:header_top" /> 
<!-- 头部_顶部end -->   
<!-- 头部_搜索栏start -->
<include file="MemberPublic:header_search" /> 
<!-- 头部_搜索栏end -->
<div class="bodyer">
    <div class="mar1200c clearfix">
        <include file="MemberPublic:MemberLeft" />  
        <div class="user-right marT20 box-s-c1 fRi">
            <ul class="left_top_ul">
            	<li>账户安全</li>
            	<li>>修改绑定手机</li>
            </ul> 
            <div class="container">
            	<ul class="step_ul">
            		<li class="active">
            			<div>1</div>验证身份
            		</li>
            		<li>
            			<div>2</div>重置新号码
            		</li>
            		<li>
            			<div>3</div>修改成功
            		</li>
            	</ul>
<!--第一步-->
            	<div class="change_box1">
                  <table class="phone_check">
            		<tr>
            			<td>手机号：</td>
            			<td>{$Think.session.member_data.username}</td>
            		</tr>
            		<tr>
            			<td>短信验证码：</td>
            			<td><input type="text" id="checkcode"></td>
            			<td>
            				<button class="get_code">获取短信验证码</button>            				
            			</td>
            		</tr>
            		<tr>
            			<td></td>
            			<td>
            				<div class="code_error">
            					<div>x</div>验证码错误
            				</div>
            			</td>
            			<td></td>
            		</tr>
            	  </table>
            	  <button class="nextStep1">下一步</button>
            	</div>           	
<!--第二步-->
            	<div class="change_box2">
                  <table class="phone_change">
            		<tr>
            			<td>请输入新手机号：</td>
            			<td><input type="text" id="myNewPhone" placeholder="请输入您的新号码"></td>
            			<td>
            				<div class="phone_error">
            				<div>x</div>手机号码格式错误
            				</div>
            				<div class="phone_error2">
            				<div>x</div>该电话号码已经被注册
            				</div>
            			</td>
            		</tr>
            		<tr>
            			<td>验证码：</td>
            			<td><input type="text" id="newPhoneCode"><button class="get_code2">获取短信验证码</button></td>
            			<td>            				
            				<div class="code_error2">
            					<div>x</div>验证码错误
            				</div>
            			</td>
            		</tr>
            	  </table>
            	  <button class="nextStep2">下一步</button>
            	</div>
<!--修改成功   -->         	
            	<div class="change_success">
            		<p>手机号码修改成功</p>
            		<p>请牢记您的新号码！<!--，<span></span>秒后跳转到--></p>
            		<p><a href="{:U('Member/Login')}">去登录</a></p>
            	</div>           	
            </div>
        </div>
    </div>
</div>
<!-- /主体 -->
<include file="Public:footer" />  

<script>

	//获取短信验证码
	$(".get_code").click(function(){
		var timer =60;
        var setTime;

         setTime=setInterval(function(){
                if(timer==0){
                	$(".get_code").css("background-color","#fff").css("color","#FF6200").css("border","1px solid #FF6200");
		            $(".get_code").text("重新获取");
                    clearInterval(setTime);
                    return;                   
                }
                timer--;
                $(".get_code").text(timer+" s 后重新获取");
                $(".get_code").css("background-color","#CCC").css("color","#666").css("border","1px solid #CCC");
            },1000);  
        
        $.post("http://www.orangesha.com/index.php/Home/MemberData/createChangePhoneCode",function(res){
        
        })
        
	})
	
	function checkCode(){
        var data = {'phone_code': $("#checkcode").val()};
        $.post("{:U('MemberData/checkChangePhoneCode')}",data,function(res){
        	
            if(res.status==1 && $("#checkcode").val()!=""){
    		  $(".change_box1").css("display","none");
    		  $(".change_box2").css("display","block");
    		  $(".step_ul li:eq(0)").removeClass("active");
    		  $(".step_ul li:eq(1)").addClass("active");
    	    }else{
    		  $(".code_error").css("display","block");
    	    }
        })        
    }
	 
	//下一步验证短信验证码
    $(".nextStep1").click(function(){
    	checkCode();    	
    })
    
    //获取新手机短信验证码
	$(".get_code2").click(function(){
		var timer =60;
        var setTime;
        var data = {'telnum':$("#myNewPhone").val()};           
        
        $.post("http://www.orangesha.com/index.php/Home/MemberData/createNewPhoneCode",data,function(res){
        	
            if(res.msg=="该电话号码已经被注册"){
            	$(".phone_error2").css("display","block");
            	$(".phone_error").css("display","none");
            }
            if(res.msg=="电话号码格式不正确"){
            	$(".phone_error").css("display","block");
            	$(".phone_error2").css("display","none");
            }
            if(res.msg=="ok"){           	
            	setTime=setInterval(function(){
                if(timer==0){
                	$(".get_code2").css("background-color","#fff").css("color","#FF6200").css("border","1px solid #FF6200");
		            $(".get_code2").text("重新获取");
                    clearInterval(setTime);
                    return;                   
                }
                timer--;
                $(".get_code2").text(timer+" s 后重新获取");
                $(".get_code2").css("background-color","#CCC").css("color","#666").css("border","1px solid #CCC");
                },1000);             
            }
            
        })
        
	})
    
    //修改新手机
    function newPhone(){
        var data = {'code': $("#newPhoneCode").val(),'telnum':$("#myNewPhone").val()};
        $.post("http://www.orangesha.com/index.php/Home/MemberData/changePhone",data,function(res){
        	
        	
            if(res.status==1){
            	$(".step_ul li:eq(1)").removeClass("active");
    		    $(".step_ul li:eq(2)").addClass("active");
    		    $(".change_box2").css("display","none");
    		    $(".change_success").css("display","block");
            }
            if(res.msg=="该电话号码已经被注册"){
            	$(".phone_error2").css("display","block"); 
            	$(".phone_error").css("display","none"); 
            }
            if(res.msg=="电话号码格式不正确"){
            	$(".phone_error").css("display","block");
            	$(".phone_error2").css("display","none");
            }
            if(res.msg=="短信验证码不正确"){
            	$(".phone_error").css("display","none");
            	$(".phone_error2").css("display","none");
            	$(".code_error2").css("display","block");
            }
        })        
    }  
    
    //下一步修改新手机
     $(".nextStep2").click(function(){
     	         newPhone(); 
     	         checkNewPhone();
     })
    
    //验证手机格式
    $("#myNewPhone").blur(function(){   	        	     
                 checkNewPhone();
     })
    
    function checkNewPhone(){
	  var reg=/^1[34578]\d{9}$/;
	  var b=document.getElementById("myNewPhone").value;
	  var a=reg.test(b);
	  
	  if(a==true){
		  $(".phone_error").css("display","none");
			}else{
				$(".phone_error").css("display","block"); 
				}
		  }

    
    
    
    //回车键
    $(".change_box1").keydown(function() {
             if (event.keyCode == "13"){
             	 //keyCode=13是回车键
                 $('.nextStep1').click();                 
             }
        }); 
    $(".change_box2").keydown(function() {
             if (event.keyCode == "13"){
             	 //keyCode=13是回车键
                 $('.nextStep2').click();                 
             }
       });
    
     
     
     
     
     
    
  
  
  

</script>
</body>
</html>