<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.left-nav>
		</style>
	</head>
	<body>
		<div class="left-nav">
			<div>后台管理</div>
			<ul id="big-ul">
				<li>
					<ul class="small-ul">
						<li>交易管理</li>
				        <li>已卖出的商品</li>
				        <li>评价管理</li>
					</ul>
				</li>
				<li>
					<ul class="small-ul">
						<li>物流管理</li>
				        <li>发货</li>
				        <li>物流工具</li>
				        <li>物流服务</li>
					</ul>
				</li>
				<li>
					<ul class="small-ul">
						<li>商品管理</li>
				        <li>发布商品</li>
				        <li>商品中心</li>
				        <li>橱窗推荐</li>
					</ul>
				</li>
				<li>
					<ul class="small-ul">
						<li>店铺装修</li>
				        <li>查看橙橙店铺</li>
				        <li>店铺装修</li>
				        <li>图片空间</li>
					</ul>
				</li>
				<li>
					<ul class="small-ul">
						<li>客户服务</li>
				        <li>消费者保障</li>
				        <li>退款管理</li>
				        <li>售后管理</li>
				        <li>违规记录</li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>
