<!DOCTYPE HTML>
<html>
<head>
<title>账号安全-修改密码</title>
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/css.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/passwordUpdate.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-1.10.2.min.js"></script>
<![endif]-->
<style>
.phone_check tr{ height: 40px;}	
</style>
</head>
<body >
<!-- 头部_顶部start -->
<include file="MemberPublic:header_top" /> 
<!-- 头部_顶部end -->   
<!-- 头部_搜索栏start -->
<include file="MemberPublic:header_search" /> 
<!-- 头部_搜索栏end -->
<div class="bodyer">
    <div class="mar1200c clearfix">
        <include file="MemberPublic:MemberLeft" />  
        <div class="user-right marT20 box-s-c1 fRi">
            <ul class="left_top_ul">
            	<li>账户安全</li>
            	<li>>修改密码</li>
            </ul> 
            <div class="container">
            	<ul class="step_ul">
            		<li class="active">
            			<div>1</div>验证身份
            		</li>
            		<li>
            			<div>2</div>重置密码
            		</li>
            		<li>
            			<div>3</div>修改成功
            		</li>
            	</ul>
<!--第一步-->
            	<div class="change_box1">
                  <table class="phone_check">
            		<tr>
            			<td>手机号：</td>
            			<td>{$Think.session.member_data.username}</td>
            		</tr>
            		<tr>
            			<td>短信验证码：</td>
            			<td><input type="text" id="checkcode"></td>
            			<td>
            				<button class="get_code">获取短信验证码</button>            				
            			</td>
            		</tr>
            		<tr>
            			<td></td>
            			<td>
            				<div class="code_error">
            					<div>x</div>验证码错误
            				</div>
            			</td>
            			<td></td>
            		</tr>
            	  </table>
            	  <button class="nextStep1">下一步</button>
            	</div>           	
<!--第二步-->
            	<div class="change_box2">
                  <table class="password_change">
            		<tr>
            			<td>旧密码：</td>
            			<td><input type="password" id="old_password"></td>
            			<td>
            				<div class="password_error1">
            				<div>x</div>密码输入错误，请重新输入
            				</div>
            			</td>
            		</tr>
            		<!--<tr style="height: 5px;">
            			<td></td>
            			<td style="text-align: left; padding-left: 20px;">
            			   <div class="security" style="background-color: red;"></div>
            			   <div class="security" style="background-color: yellow;"></div>
            			   <div class="security" style="background-color: green;"></div>
            			   <span class="security_long">弱</span>
            			</td>
            		</tr>-->
            		<tr>
            			<td>新密码：</td>
            			<td><input type="password" id="new_password1"></td>
            			<td><div class="password_error2">
            				<div>x</div>密码必须为8-16位数字+字母
            				</div>
            			</td>
            		</tr>
            		<tr>
            			<td>确认新密码：</td>
            			<td><input type="password" id="new_password2"></td>
            			<td><div class="password_error3">
            				<div>x</div>两次输入的密码不一致，请重试
            				</div>
            			</td>
            		</tr>
            	  </table>
            	  <button class="nextStep2">下一步</button>
            	</div>
<!--修改成功   -->         	
            	<div class="change_success">
            		<p>密码修改成功</p>
            		<p>请牢记您的新密码！</p>
            		<p><a href="{:U('Index/index')}">返回商城</a></p>
            	</div>           	
            </div>
        </div>
    </div>
</div>
<!-- /主体 -->
<include file="Public:footer" />  

<script>

	//获取短信验证码
	$(".get_code").click(function(){
		var timer =60;
        var setTime;

         setTime=setInterval(function(){
                if(timer==0){
                	$(".get_code").css("background-color","#fff").css("color","#FF6200").css("border","1px solid #FF6200");
		            $(".get_code").text("重新获取");
                    clearInterval(setTime);
                    return;                   
                }
                timer--;
                $(".get_code").text(timer+" s 后重新获取");
                $(".get_code").css("background-color","#CCC").css("color","#666").css("border","1px solid #CCC");
            },1000);  
        
        $.post("{:U('MemberData/createPasswordUpdateCode')}",function(res){
        	
            
        })
        
	})
	
	function checkCode(){
        var data = {'phone_code': $("#checkcode").val()};
        $.post("{:U('MemberData/checkPasswordUpdateCode')}",data,function(res){
        	console.log(res.status)
            if(res.status==1 && $("#checkcode").val()!=""){
    		  $(".change_box1").css("display","none");
    		  $(".change_box2").css("display","block");
    		  $(".step_ul li:eq(0)").removeClass("active");
    		  $(".step_ul li:eq(1)").addClass("active");
    	    }else{
    		  $(".code_error").css("display","block");
    	    }
        })        
    }
	 
	//下一步验证短信验证码
    $(".nextStep1").click(function(){
    	checkCode();    	
    })
    
    //验证密码
    function oldPass(){
        var data = {'old_password': $("#old_password").val(),'password': $("#new_password1").val(),'repeat_password':$("#new_password2").val()};
        $.post("{:U('MemberData/passwordUpdate')}",data,function(res){
        	
        	
            if(res.status==1){
            	$(".step_ul li:eq(1)").removeClass("active");
    		    $(".step_ul li:eq(2)").addClass("active");
    		    $(".change_box2").css("display","none");
    		    $(".change_success").css("display","block");
            }
            if(res.code==1){
                $(".password_error1").css("display","block");
                return ;
            }
     	    if($("#new_password1").val()!=$("#new_password2").val()){
                $(".password_error3").css("display","block");
                return ;
            }
        })        
    }    
    
    //验证密码格式
    $("#new_password1").blur(function(){   	        	     
                 checkPassword();
     })
    function checkPassword(){
	  var reg=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/;
	  var b=document.getElementById("new_password1").value;
	  var a=reg.test(b);
	  
	  if(a==true){
		  $(".password_error2").css("display","none");
			}else{
				$(".password_error2").css("display","block"); 
				}
		  }

    //验证重复密码
    $("#new_password2").blur(function(){    	         
                 if($("#new_password1").val()!=$("#new_password2").val())
                 {
                     $(".password_error3").css("display","block");                    
                     
                 }else{
                 	 $(".password_error3").css("display","none");
                 	 
                 }
     })
    
    //下一步修改密码
     $(".nextStep2").click(function(){
     	         oldPass();     	         
     })
    
    //回车键
    $(".change_box1").keydown(function() {
             if (event.keyCode == "13"){
             	 //keyCode=13是回车键
                 $('.nextStep1').click();                 
             }
        }); 
    $(".change_box2").keydown(function() {
             if (event.keyCode == "13"){
             	 //keyCode=13是回车键
                 $('.nextStep2').click();                 
             }
       });
    
     
     
     
     
     
    
  
  
  

</script>
</body>
</html>