<!DOCTYPE HTML>
<html>
<head>
<title>违规记录</title>
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/cssReset.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/public.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/all-use.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/side-nav.css" type="text/css">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/foul.css" type="text/css">
<link href="{:C('STATIC_URL')}/Home/css/footer.css" rel="stylesheet">
<link rel="stylesheet" href="{:C('STATIC_URL')}/Home/css/sell-management.css">
<link rel="shortcut icon" href="{:C('STATIC_URL')}/Home/images/ee.ico" type="image/x-icon">
<script src="{:C('STATIC_URL')}/Home/js/header.js"></script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="{:C('STATIC_URL')}/Home/static/jquery-1.10.2.min.js"></script>
<![endif]-->
<script type="text/javascript" src="{:C('STATIC_URL')}/js/ajaxPage.js"></script>
</head>
<body >
<!-- 头部_顶部start -->
<include file="MemberPublic:header_top" /> 
<!-- 头部_顶部end --> 
<!-- 头部_搜索栏start -->
<include file="MemberPublic:header_search" /> 
<!-- 头部_搜索栏end -->
<div class="bodyer">
    <div class="mar1200c clearfix">
        <include file="Public:sellerLeft" />         
            <div class="sell-management clearfix" style='width:auto;'>
                <div class="refund">
                	<div class="refund_top"><a href="{:U('MemberCenter/foul')}">违规记录</a> > 查看事项</div>
                	<div class="refund_box">
                		<ul class="foul_top">
                			<a href="{:U('MemberCenter/viewViolation')}"><li>待您处理的违规</li></a>
                			<a href="{:U('MemberCenter/viewViolation2')}"><li class="active">审核中的违规</li></a>
                			<a href="{:U('MemberCenter/viewViolation3')}"><li>违规记录</li></a>
                		</ul>
                		<div class="foul_div1">
                			小儿正在努力帮您审核，请您关注处理进度，如有需要您补充凭证的情况，记录会回到待您处理的违规中，请您及时补充；如果申诉通过，记录会自动清除；如申诉未通过，切无法再次申诉，请在违规记录中查看详情。
                		</div>
                		<ul class="foul_ul2">
                			<li>违规对象</li>
                			<li>违规类型</li>
                			<li>处置方式</li>
                			<li>最新修改时间</li>
                			<li>操作</li>
                		</ul>
                		<div class="foul_div2">
                			恭喜您，当前没有记录，请继续保持！
                		</div>
                	</div>                	
                </div>
            </div>                   
    </div>
</div>
<!-- 底部 -->
<include file="Public:footer" />
<!-- 底部 -->    
<script>

</script>
</body>
</html>